# Clase 8: Reorganizaci√≥n, Multi-√çndices y Agregaci√≥n de Datos

**MDS7202: Laboratorio de Programaci√≥n Cient√≠fica para Ciencia de Datos**

**Profesor: Mat√≠as Rojas**

## Objetivos


Es Habitual que la informaci√≥n se encuentre dispersa en distintas fuentes y con distintas formas. 
El dar forma, organizar, unir y agrupar estas distintas fuentes de informaci√≥n es una componente muy importante del an√°lisis de datos. 

- Aprender a organizar los `DataFrames`: transponer, pivotear y fundir (melt).
- Explorar el mecanismo de agrupaci√≥n de pandas: Group By, aggregate, transform y filter.

### Roadmap

**Unidad 3: Manejo de Datos con Pandas y AED**

- [X] Introducci√≥n a Manejo de Datos Tabulares con Pandas
- [ ] Reorganizaci√≥n, Multi-√çndices y Agregaci√≥n de Datos.
- [ ] Concatenaci√≥n y Combinaci√≥n de M√∫ltiples Fuentes de Datos.
- [ ] Trabajo con strings y datos temporales, categ√≥ricos y ordinales en Pandas.

## Cargando √çndices para una Vida Mejor

En esta clase, seguiremos usando los datos de √≠ndices para una Vida Mejor de la OECD:


<img src="https://i.ibb.co/hC1RRsS/oecd.png" alt="OECD Better life index"/>


http://www.oecdbetterlifeindex.org/

https://stats.oecd.org/index.aspx?DataSetCode=BLI

Son 11 temas considerados como esenciales para el bienestar de la poblaci√≥n. Cada crierio contiene uno o mas indicadores:

| Tema | Indicador (Ingl√©s) | Indicador (Espa√±ol) | Unidad | Descripci√≥n |
|---|---|---|---|---|
| Vivienda üè† | Dwellings without basic facilities | Vivienda con Instalaciones B√°sicas | Porcentaje | Porcentaje de personas con inodoros de agua corriente dentro del hogar, a√±o disponible m√°s reciente |
|  | Housing expenditure | Gastos en Vivienda | Porcentaje | Proporci√≥n de costos de vivienda en el ingreso neto ajustado de las familias, a√±o disponible m√°s reciente |
|  | Rooms per person | Habitaciones por Persona | Ratio | N√∫mero promedio de habitaciones compartidas por persona en una vivienda, a√±o disponible m√°s reciente |
| Ingresos üí∞ | Household net adjusted disposable income | Ingreso Familiar Disponible | US Dollar | Cantidad promedio de dinero que una familia gana al a√±o, despu√©s de impuestos, a√±o disponible m√°s reciente |
|  | Household net wealth | Patrimonio Neto Familiar | US Dollar | Valor total promedio de los activos financieros de una familia (ahorros, acciones) menos sus pasivos (cr√©ditos), a√±o disponible m√°s reciente |
| Empleo ‚öôÔ∏è | Labour market insecurity | Seguridad en el Empleo | Porcentaje | P√©rdida esperada de ingresos cuando alguien queda desempleado, a√±o disponible m√°s reciente |
|  | Employment rate | Tasa de Empleo | Porcentaje | Porcentaje de personas, de 15 a 64 a√±os de edad, actualmente con empleo remunerado, a√±o disponible m√°s reciente |
|  | Long-term unemployment rate | Tasa de Empleo a Largo Plazo | Porcentaje | Porcentaje de personas, de 15 a 64 a√±os de edad, que no trabajan pero que han buscado empleo activamente durante m√°s de un a√±o, a√±o disponible m√°s reciente |
|  | Personal earnings | Ingresos Personales | US Dollar | Ingresos anuales promedio por empleado de tiempo completo, a√±o disponible m√°s reciente |
| Comunidad üßë‚Äçü§ù‚Äçüßë   | Quality of support network  | Calidad del Apoyo Social | Porcentaje | Porcentaje de personas con amigos o parientes en quienes confiar en caso de necesidad |
| Educaci√≥n üìö | Educational attainment | Nivel de Educaci√≥n | Porcentaje | Porcentaje de personas, de 25 a 64 a√±os de edad, graduadas por lo menos de educaci√≥n media superior, a√±o disponible m√°s reciente |
|  | Student skills | Competencias de estudiantes en matem√°ticas, lectura y ciencias | Puntaje promedio | Desempe√±o promedio de estudiantes de 15 a√±os de edad, seg√∫n PISA (Programa para la Evaluaci√≥n Internacional de Estudiantes) |
|  | Years in education  | Nivel de educaci√≥n | A√±os | Duraci√≥n promedio de la educaci√≥n formal en la que un ni√±o de cinco a√±os de edad puede esperar matricularse durante su vida |
| Medio Ambiente üå≥ | Air pollution | Contaminaci√≥n del Aire | Microgramos por metro c√∫bico | Concentraci√≥n promedio de part√≠culas (PM2.5) en ciudades con poblaciones mayores de 100,000 personas, medida en microgramos por metro c√∫bico, a√±o disponible m√°s reciente |
|  | Water quality | Calidad del Agua | Porcentaje | Porcentaje de personas que informan estar satisfechas con la calidad del agua local |
| Compromiso C√≠vico üó≥Ô∏è  | Stakeholder engagement for developing regulations | Participaci√≥n de los interesados en la elaboraci√≥n de regulaciones | Puntaje promedio | Nivel de transparencia gubernamental al preparar las regulaciones, a√±o disponible m√°s reciente |
|  | Voter turnout | Participaci√≥n electoral | Porcentaje | Porcentaje de votantes registrados que votaron durante las elecciones recientes, a√±o disponible m√°s reciente |
| Salud ‚öïÔ∏è | Life expectancy | Esperanza de vida | A√±os | N√∫mero promedio de a√±os que una persona puede esperar vivir, a√±o disponible m√°s reciente |
|  | Self-reported health | Salud seg√∫n informan las personas | Porcentaje | Porcentaje de personas que informan que su salud es ¬´buena o muy buena¬ª, a√±o disponible m√°s reciente |
| Satisfacci√≥n ‚ú® | Life satisfaction | Satisfacci√≥n ante la vida | Puntaje promedio | Autoevaluaci√≥n promedio de satisfacci√≥n ante la vida, en una escala de 0 a 10 |
| Seguridad üåÉ | Feeling safe walking alone at night | Sentimiento de seguridad al caminar solos por la noche | Porcentaje | Porcentaje de personas que reportan sentirse seguras al caminar solas por la noche  |
|  | Homicide rate | Tasa de homicidios | Ratio | N√∫mero promedio de homicidios reportados por 100,000 personas, a√±o disponible m√°s reciente |
| Balance Vida Trabajo üßò | Employees working very long hours | Empleados que trabajan muchas horas | Porcentaje | Porcentaje de empleados que trabajan m√°s de cincuenta horas a la semana en promedio, a√±o disponible m√°s reciente |
|  | Time devoted to leisure and personal care | Tiempo destinado al ocio y el cuidado personal | Horas | N√∫mero promedio de minutos al d√≠a dedicados al ocio y el cuidado personal, incluidos el sue√±o y la alimentaci√≥n |

In [ ]:
import pandas as pd

dataset = pd.read_csv("https://raw.githubusercontent.com/maranedah/MDS7202/main/clases/Clase%207%20-%20Scipy%20%2B%20Pandas/resources/dataset.csv")
dataset.head(3)

,Country,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,...,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education,GPD per capita (2018)
0,Australia,5.0,NaN,81.0,12.840000,73.000000,64.133333,1.100000,32759.0,427064.0,...,95.25,NaN,87.25,2.7,411.2,14.350000,91.0,92.666667,20.966667,57395.91947
1,Austria,16.0,0.9,85.0,6.590000,72.000000,80.700000,0.466667,33541.0,308325.0,...,92.00,1.6,70.60,1.3,492.8,14.530000,80.0,92.000000,17.000000,51525.04643
2,Belgium,15.0,1.9,77.0,4.703333,63.333333,70.266667,1.033333,30364.0,386006.0,...,92.00,2.2,73.60,2.0,503.8,15.663333,89.0,83.666667,19.300000,47491.32326

In [ ]:
dataset.shape

(41, 26)

In [ ]:
dataset.index

RangeIndex(start=0, stop=41, step=1)

---

## 1.- Transponer Datos

Simplemente invertir las filas por las columnas.

In [ ]:
dataset.head()

,Country,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,...,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education,GPD per capita (2018)
0,Australia,5.0,NaN,81.000000,12.840000,73.000000,64.133333,1.100000,32759.0,427064.0,...,95.25,NaN,87.25,2.7,411.2,14.350000,91.0,92.666667,20.966667,57395.919470
1,Austria,16.0,0.9,85.000000,6.590000,72.000000,80.700000,0.466667,33541.0,308325.0,...,92.00,1.6,70.60,1.3,492.8,14.530000,80.0,92.000000,17.000000,51525.046430
2,Belgium,15.0,1.9,77.000000,4.703333,63.333333,70.266667,1.033333,30364.0,386006.0,...,92.00,2.2,73.60,2.0,503.8,15.663333,89.0,83.666667,19.300000,47491.323260
3,Brazil,10.0,6.7,49.000000,7.006667,61.000000,35.866667,27.000000,NaN,NaN,...,89.25,NaN,NaN,2.2,398.2,NaN,79.0,73.000000,16.166667,9001.234249
4,Canada,7.0,0.2,91.333333,3.673333,73.333333,82.500000,1.266667,30854.0,423849.0,...,93.25,2.6,87.80,2.9,523.2,14.553333,68.0,91.000000,17.333333,46313.171370

In [ ]:
dataset.T

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
Country,Australia,Austria,Belgium,Brazil,Canada,Chile,Colombia,Czech Republic,Denmark,Estonia,...,Russia,Slovak Republic,Slovenia,South Africa,Spain,Sweden,Switzerland,Turkey,United Kingdom,United States
Air pollution,5.0,16.0,15.0,10.0,7.0,16.0,10.0,20.0,9.0,8.0,...,15.0,21.0,16.0,22.0,11.0,6.0,15.0,20.0,11.0,10.0
Dwellings without basic facilities,NaN,0.9,1.9,6.7,0.2,9.4,23.9,0.7,0.5,7.0,...,14.8,1.2,0.4,37.0,0.1,0.0,0.1,8.0,0.3,0.1
Educational attainment,81.0,85.0,77.0,49.0,91.333333,65.0,54.0,93.666667,81.0,88.666667,...,94.0,91.333333,88.0,73.333333,59.0,83.0,87.666667,39.0,81.0,90.666667
Employees working very long hours,12.84,6.59,4.703333,7.006667,3.673333,9.316667,26.006667,5.496667,2.316667,2.436667,...,0.14,4.073333,4.333333,17.84,3.963333,1.066667,0.37,31.043333,12.123333,10.99
Employment rate,73.0,72.0,63.333333,61.0,73.333333,62.666667,67.0,73.666667,74.0,74.0,...,70.333333,66.0,69.333333,43.333333,62.333333,76.666667,79.666667,51.666667,75.0,70.0
Feeling safe walking alone at night,64.133333,80.7,70.266667,35.866667,82.5,48.0,44.566667,72.533333,83.566667,69.633333,...,53.466667,63.7,86.166667,36.333333,82.166667,75.566667,85.333333,59.833333,77.766667,73.9
Homicide rate,1.1,0.466667,1.033333,27.0,1.266667,4.2,25.0,0.5,0.6,3.166667,...,9.933333,0.8,0.6,14.0,0.6,0.9,0.6,1.366667,0.166667,5.5
Household net adjusted disposable income,32759.0,33541.0,30364.0,NaN,30854.0,NaN,NaN,21453.0,29606.0,19697.0,...,NaN,20474.0,20820.0,NaN,23999.0,31287.0,37466.0,NaN,28715.0,45284.0
Household net wealth,427064.0,308325.0,386006.0,NaN,423849.0,100967.0,NaN,NaN,118637.0,159373.0,...,NaN,119696.0,203044.0,NaN,373548.0,NaN,NaN,NaN,548392.0,632100.0
Housing expenditure,20.0,21.0,21.0,NaN,22.0,18.0,17.0,24.0,23.0,17.0,...,18.0,23.0,18.0,18.0,21.0,19.0,22.0,20.0,26.0,19.0
Labour market insecurity,5.922,4.076,4.052,NaN,7.048,8.168,NaN,7.208,4.606,4.392,...,NaN,21.376,6.338,NaN,23.792,4.232,NaN,12.06,4.744,9.072
Life expectancy,82.5,81.7,81.5,74.766667,81.866667,79.9,76.233333,79.1,80.9,77.766667,...,71.8,77.266667,81.266667,57.5,83.4,82.366667,83.666667,78.0,81.2,78.6
Life satisfaction,7.35,7.225,7.0,6.4,7.425,6.48,6.266667,6.7,7.65,5.78,...,5.88,6.425,5.933333,4.7,6.225,7.4,7.5,5.52,6.86,7.0
Long-term unemployment rate,1.306667,1.83,3.533333,NaN,0.763333,NaN,0.82,1.056667,1.313333,1.916667,...,1.586667,4.773333,3.176667,16.643333,7.71,1.113333,1.826667,2.66,1.126667,0.656667
Personal earnings,49126.0,50349.0,49675.0,NaN,47622.0,25879.0,NaN,25372.0,51466.0,24336.0,...,NaN,24328.0,34933.0,NaN,38507.0,42393.0,62283.0,NaN,43732.0,60558.0
Quality of support network,95.25,92.0,92.0,89.25,93.25,84.6,89.0,91.75,95.5,91.2,...,90.0,91.5,91.666667,88.0,92.75,91.5,93.333333,86.0,94.0,91.75
Rooms per person,NaN,1.6,2.2,NaN,2.6,1.2,1.2,1.4,1.9,1.6,...,0.9,1.1,1.5,NaN,1.9,1.7,1.9,1.0,1.9,2.4
Self-reported health,87.25,70.6,73.6,NaN,87.8,57.0,NaN,60.8,72.6,54.4,...,43.333333,68.6,64.4,NaN,74.0,75.0,77.4,70.4,70.0,86.8
Stakeholder engagement for developing regulations,2.7,1.3,2.0,2.2,2.9,1.3,1.4,1.6,2.0,2.7,...,NaN,3.0,2.5,NaN,1.8,2.0,2.3,1.5,3.1,3.1
Student skills,411.2,492.8,503.8,398.2,523.2,443.8,412.8,492.2,505.2,525.8,...,491.8,463.4,510.4,NaN,492.4,497.0,507.4,426.8,502.4,489.4
Time devoted to leisure and personal care,14.35,14.53,15.663333,NaN,14.553333,NaN,NaN,NaN,15.873333,14.886667,...,NaN,NaN,14.73,14.77,15.86,15.176667,NaN,14.653333,14.916667,14.44
Voter turnout,91.0,80.0,89.0,79.0,68.0,47.0,53.0,61.0,86.0,64.0,...,68.0,60.0,53.0,73.0,70.0,86.0,49.0,86.0,69.0,65.0
Water quality,92.666667,92.0,83.666667,73.0,91.0,71.0,74.666667,86.666667,95.0,84.0,...,55.333333,84.666667,89.666667,67.0,72.333333,96.0,95.333333,65.0,83.666667,82.666667
Years in education,20.966667,17.0,19.3,16.166667,17.333333,17.5,14.1,17.9,19.5,17.7,...,16.2,15.766667,18.366667,NaN,17.9,19.3,17.5,18.3,17.5,17.2
GPD per capita (2018),57395.91947,51525.04643,47491.32326,9001.234249,46313.17137,15924.79424,6718.585324,23046.94913,61390.69301,23258.46758,...,11584.99538,19428.11621,26054.5421,6374.028196,30337.67913,54589.06039,82818.10816,9370.176355,43043.22782,62996.66482

In [ ]:
dataset.loc[0,:]

Country                                                Australia
Air pollution                                                5.0
Dwellings without basic facilities                           NaN
Educational attainment                                      81.0
Employees working very long hours                          12.84
Employment rate                                             73.0
Feeling safe walking alone at night                    64.133333
Homicide rate                                                1.1
Household net adjusted disposable income                 32759.0
Household net wealth                                    427064.0
Housing expenditure                                         20.0
Labour market insecurity                                   5.922
Life expectancy                                             82.5
Life satisfaction                                           7.35
Long-term unemployment rate                             1.306667
Personal earnings                                        49126.0
Quality of support network                                 95.25
Rooms per person                                             NaN
Self-reported health                                       87.25
Stakeholder engagement for developing regulations            2.7
Student skills                                             411.2
Time devoted to leisure and personal care                  14.35
Voter turnout                                               91.0
Water quality                                          92.666667
Years in education                                     20.966667
GPD per capita (2018)                                57395.91947
Name: 0, dtype: object

In [ ]:
dataset.T.loc['Country',:]

0           Australia
1             Austria
2             Belgium
3              Brazil
4              Canada
5               Chile
6            Colombia
7      Czech Republic
8             Denmark
9             Estonia
10            Finland
11             France
12            Germany
13             Greece
14            Hungary
15            Iceland
16            Ireland
17             Israel
18              Italy
19              Japan
20              Korea
21             Latvia
22          Lithuania
23         Luxembourg
24             Mexico
25        Netherlands
26        New Zealand
27             Norway
28       OECD - Total
29             Poland
30           Portugal
31             Russia
32    Slovak Republic
33           Slovenia
34       South Africa
35              Spain
36             Sweden
37        Switzerland
38             Turkey
39     United Kingdom
40      United States
Name: Country, dtype: object

In [ ]:
dataset.T.T

,Country,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,...,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education,GPD per capita (2018)
0,Australia,5.0,NaN,81.0,12.84,73.0,64.133333,1.1,32759.0,427064.0,...,95.25,NaN,87.25,2.7,411.2,14.35,91.0,92.666667,20.966667,57395.91947
1,Austria,16.0,0.9,85.0,6.59,72.0,80.7,0.466667,33541.0,308325.0,...,92.0,1.6,70.6,1.3,492.8,14.53,80.0,92.0,17.0,51525.04643
2,Belgium,15.0,1.9,77.0,4.703333,63.333333,70.266667,1.033333,30364.0,386006.0,...,92.0,2.2,73.6,2.0,503.8,15.663333,89.0,83.666667,19.3,47491.32326
3,Brazil,10.0,6.7,49.0,7.006667,61.0,35.866667,27.0,NaN,NaN,...,89.25,NaN,NaN,2.2,398.2,NaN,79.0,73.0,16.166667,9001.234249
4,Canada,7.0,0.2,91.333333,3.673333,73.333333,82.5,1.266667,30854.0,423849.0,...,93.25,2.6,87.8,2.9,523.2,14.553333,68.0,91.0,17.333333,46313.17137
5,Chile,16.0,9.4,65.0,9.316667,62.666667,48.0,4.2,NaN,100967.0,...,84.6,1.2,57.0,1.3,443.8,NaN,47.0,71.0,17.5,15924.79424
6,Colombia,10.0,23.9,54.0,26.006667,67.0,44.566667,25.0,NaN,NaN,...,89.0,1.2,NaN,1.4,412.8,NaN,53.0,74.666667,14.1,6718.585324
7,Czech Republic,20.0,0.7,93.666667,5.496667,73.666667,72.533333,0.5,21453.0,NaN,...,91.75,1.4,60.8,1.6,492.2,NaN,61.0,86.666667,17.9,23046.94913
8,Denmark,9.0,0.5,81.0,2.316667,74.0,83.566667,0.6,29606.0,118637.0,...,95.5,1.9,72.6,2.0,505.2,15.873333,86.0,95.0,19.5,61390.69301
9,Estonia,8.0,7.0,88.666667,2.436667,74.0,69.633333,3.166667,19697.0,159373.0,...,91.2,1.6,54.4,2.7,525.8,14.886667,64.0,84.0,17.7,23258.46758
10,Finland,6.0,0.5,88.0,3.816667,70.333333,85.266667,1.266667,29943.0,200827.0,...,94.8,1.9,70.2,2.2,523.6,15.163333,67.0,95.0,19.833333,50021.29106
11,France,13.0,0.5,78.333333,7.656667,65.333333,70.7,0.466667,31304.0,280653.0,...,89.0,1.8,66.4,2.1,497.4,16.336667,75.0,81.0,16.5,41631.09074
12,Germany,14.0,0.2,86.666667,4.196667,75.333333,72.6,0.5,34294.0,259667.0,...,90.5,1.8,65.4,1.8,511.0,15.613333,76.0,91.333333,18.1,47639.00344
13,Greece,18.0,0.5,73.0,6.28,53.333333,60.2,0.833333,17700.0,150134.0,...,78.8,1.2,76.0,1.8,460.2,NaN,64.0,69.333333,19.0,20324.30501
14,Hungary,19.0,4.7,84.0,2.976667,68.0,56.7,1.0,NaN,104458.0,...,85.5,1.2,61.0,1.2,475.0,NaN,70.0,77.0,16.433333,16150.77276
15,Iceland,3.0,0.0,77.0,14.866667,85.666667,86.3,0.5,NaN,NaN,...,98.0,1.6,76.0,2.1,480.8,NaN,79.0,98.666667,19.033333,72968.70423
16,Ireland,7.0,1.0,82.0,5.26,67.333333,76.0,0.666667,25310.0,217130.0,...,95.0,2.1,82.8,1.3,509.8,NaN,65.0,85.0,18.1,78621.22796
17,Israel,21.0,NaN,87.333333,15.273333,69.0,69.966667,1.833333,NaN,NaN,...,88.5,1.2,86.75,2.5,470.0,NaN,72.0,67.0,15.633333,41719.72544
18,Italy,18.0,0.7,61.0,4.003333,58.0,58.6,0.6,26588.0,279889.0,...,91.8,1.4,71.8,2.5,485.0,16.313333,73.0,71.0,16.6,34520.08516
19,Japan,14.0,6.4,NaN,NaN,75.0,72.8,0.2,29798.0,305878.0,...,88.75,1.9,34.8,1.4,528.8,NaN,53.0,87.0,16.366667,39159.42356
20,Korea,28.0,2.5,87.666667,NaN,66.666667,66.666667,1.0,21882.0,285980.0,...,78.333333,1.5,33.0,2.9,520.0,14.583333,77.0,76.0,17.266667,33340.26515
21,Latvia,11.0,13.9,87.666667,1.28,70.0,63.066667,4.933333,16275.0,70160.0,...,86.2,1.2,48.0,2.2,487.6,13.826667,59.0,79.333333,18.033333,17805.28031
22,Lithuania,14.0,13.6,92.666667,0.546667,70.333333,56.233333,3.433333,21660.0,NaN,...,88.4,1.5,45.6,2.4,476.6,NaN,51.0,80.666667,18.4,19080.61737
23,Luxembourg,12.0,0.5,76.666667,3.74,66.333333,75.866667,0.566667,39264.0,769053.0,...,93.0,1.9,69.4,1.7,485.4,NaN,91.0,84.0,15.1,116654.2611
24,Mexico,16.0,25.5,37.666667,27.28,61.666667,41.966667,18.633333,NaN,NaN,...,81.6,1.0,65.666667,3.2,416.0,NaN,63.0,67.666667,15.166667,9673.443674
25,Netherlands,14.0,0.1,78.333333,0.413333,75.666667,82.066667,0.6,29333.0,157824.0,...,91.0,1.9,75.8,2.6,509.6,NaN,82.0,93.0,18.666667,53048.09621
26,New Zealand,5.0,NaN,78.666667,15.036667,77.0,66.266667,1.3,NaN,388514.0,...,96.25,2.4,89.25,2.5,506.2,14.883333,80.0,89.0,17.7,42949.93058
27,Norway,5.0,0.0,82.0,2.886667,74.0,90.033333,0.4,35725.0,228936.0,...,94.0,2.1,77.2,2.2,504.8,15.563333,78.0,97.666667,18.333333,81734.46557
28,OECD - Total,14.0,4.4,78.333333,10.786667,68.0,68.5,3.733333,33604.0,408376.0,...,88.4,1.8,69.2,2.4,490.4,14.896667,68.0,81.0,17.2,39299.24225
29,Poland,22.0,3.0,92.0,5.823333,66.0,67.466667,0.733333,19814.0,210991.0,...,86.0,1.1,60.0,2.6,505.4,14.39,55.0,82.0,17.666667,15460.64428
30,Portugal,10.0,1.0,47.666667,8.34,68.0,73.766667,1.0,21203.0,232666.0,...,88.0,1.7,48.2,1.5,499.4,NaN,56.0,86.333333,16.933333,23461.57186
31,Russia,15.0,14.8,94.0,0.14,70.333333,53.466667,9.933333,NaN,NaN,...,90.0,0.9,43.333333,NaN,491.8,NaN,68.0,55.333333,16.2,11584.99538
32,Slovak Republic,21.0,1.2,91.333333,4.073333,66.0,63.7,0.8,20474.0,119696.0,...,91.5,1.1,68.6,3.0,463.4,NaN,60.0,84.666667,15.766667,19428.11621
33,Slovenia,16.0,0.4,88.0,4.333333,69.333333,86.166667,0.6,20820.0,203044.0,...,91.666667,1.5,64.4,2.5,510.4,14.73,53.0,89.666667,18.366667,26054.5421
34,South Africa,22.0,37.0,73.333333,17.84,43.333333,36.333333,14.0,NaN,NaN,...,88.0,NaN,NaN,NaN,NaN,14.77,73.0,67.0,NaN,6374.028196
35,Spain,11.0,0.1,59.0,3.963333,62.333333,82.166667,0.6,23999.0,373548.0,...,92.75,1.9,74.0,1.8,492.4,15.86,70.0,72.333333,17.9,30337.67913
36,Sweden,6.0,0.0,83.0,1.066667,76.666667,75.566667,0.9,31287.0,NaN,...,91.5,1.7,75.0,2.0,497.0,15.176667,86.0,96.0,19.3,54589.06039
37,Switzerland,15.0,0.1,87.666667,0.37,79.666667,85.333333,0.6,37466.0,NaN,...,93.333333,1.9,77.4,2.3,507.4,NaN,49.0,95.333333,17.5,82818.10816
38,Turkey,20.0,8.0,39.0,31.043333,51.666667,59.833333,1.366667,NaN,NaN,...,86.0,1.0,70.4,1.5,426.8,14.653333,86.0,65.0,18.3,9370.176355
39,United Kingdom,11.0,0.3,81.0,12.123333,75.0,77.766667,0.166667,28715.0,548392.0,...,94.0,1.9,70.0,3.1,502.4,14.916667,69.0,83.666667,17.5,43043.22782
40,United States,10.0,0.1,90.666667,10.99,70.0,73.9,5.5,45284.0,632100.0,...,91.75,2.4,86.8,3.1,489.4,14.44,65.0,82.666667,17.2,62996.66482

In [ ]:
len(dataset)

41

---

## 2.- Pivotear Datos


El dataset que usamos la clase pasada est√° relativamente ordenado.

In [ ]:
dataset

In [ ]:
dataset.shape

In [ ]:
dataset.head(5)

In [ ]:
len(dataset['Country'].unique())

In [ ]:
len(dataset)

Sin embargo, originalmente ten√≠a la siguiente estructura:

In [ ]:
dataset_original = pd.read_csv("https://raw.githubusercontent.com/maranedah/MDS7202/main/clases/Clase%208%20-%20Pandas%20-%20Parte%20II/resources/bli_original.csv", keep_default_na=False)
dataset_original

,Continent,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,OC,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,,,5.40,,
1,EU,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,,,3.50,,
2,EU,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,,,3.70,,
3,NA,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,,,6.00,,
4,EU,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,,,3.10,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2364,EU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,TOT,Total,PC,Percentage,0,Units,,,0.54,,
2365,SA,Colombia,WL_EWLH,Employees working very long hours,L,Value,MN,Men,PC,Percentage,0,Units,,,32.09,,
2366,EU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,MN,Men,PC,Percentage,0,Units,,,0.67,,
2367,SA,Colombia,WL_EWLH,Employees working very long hours,L,Value,WMN,Women,PC,Percentage,0,Units,,,19.37,,
2368,EU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,WMN,Women,PC,Percentage,0,Units,,,0.43,,

In [ ]:
dataset_original.loc[:, ["Continent", "Country", "Indicator", "Unit", "Value"]].head(20)

   Continent         Country                 Indicator        Unit  Value
0         OC       Australia  Labour market insecurity  Percentage    5.4
1         EU         Austria  Labour market insecurity  Percentage    3.5
2         EU         Belgium  Labour market insecurity  Percentage    3.7
3         NA          Canada  Labour market insecurity  Percentage    6.0
4         EU  Czech Republic  Labour market insecurity  Percentage    3.1
5         EU         Denmark  Labour market insecurity  Percentage    4.2
6         EU         Finland  Labour market insecurity  Percentage    3.9
7         EU          France  Labour market insecurity  Percentage    7.6
8         EU         Germany  Labour market insecurity  Percentage    2.7
9         EU          Greece  Labour market insecurity  Percentage   29.8
10        EU         Hungary  Labour market insecurity  Percentage    4.7
11        EU         Iceland  Labour market insecurity  Percentage    0.7
12        EU         Ireland  Labour market insecurity  Percentage    7.8
13        EU           Italy  Labour market insecurity  Percentage   12.3
14        AS           Japan  Labour market insecurity  Percentage    1.4
15        AS           Korea  Labour market insecurity  Percentage    2.6
16        EU      Luxembourg  Labour market insecurity  Percentage    1.7
17        NA          Mexico  Labour market insecurity  Percentage    5.5
18        EU     Netherlands  Labour market insecurity  Percentage    4.8
19        OC     New Zealand  Labour market insecurity  Percentage    4.7

In [ ]:
dataset_original.shape

Cada fila de este dataset contiene informaci√≥n acerca de los paises y de los indicadores y el valor del indicador. Esta forma es conocida como **long**. 

**Pivotear**

Para convertirla al formato con el que hemos estado trabajando, **wide**, debemos pivotear la tabla:

In [ ]:
dataset.head(3)

![Pivot](https://i.ibb.co/Qd82x89/pivot.png)

In [ ]:
dataset_original["Indicator"].unique()

In [ ]:
dataset_original.head().loc[:, ["Country", "Indicator", "Value"]]

          Country                 Indicator  Value
0       Australia  Labour market insecurity    5.4
1         Austria  Labour market insecurity    3.5
2         Belgium  Labour market insecurity    3.7
3          Canada  Labour market insecurity    6.0
4  Czech Republic  Labour market insecurity    3.1

> **Ejercicio ‚úèÔ∏è**: Pivotear la tabla original de los datos de la OECD

In [ ]:
indice = "Country"
columna = "Indicator"
valor = "Value"

In [ ]:
df = pd.pivot_table(dataset_original, index=indice, columns=columna, values=valor).head(5)

In [ ]:
df.head()

Indicator,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,Housing expenditure,...,Personal earnings,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education
Country,,,,,,,,,,,,,,,,,,,,,
Australia,5.0,NaN,81.000000,12.840000,73.000000,64.133333,1.100000,32759.0,427064.0,20.0,...,49126.0,95.25,NaN,87.25,2.7,411.2,14.350000,91.0,92.666667,20.966667
Austria,16.0,0.9,85.000000,6.590000,72.000000,80.700000,0.466667,33541.0,308325.0,21.0,...,50349.0,92.00,1.6,70.60,1.3,492.8,14.530000,80.0,92.000000,17.000000
Belgium,15.0,1.9,77.000000,4.703333,63.333333,70.266667,1.033333,30364.0,386006.0,21.0,...,49675.0,92.00,2.2,73.60,2.0,503.8,15.663333,89.0,83.666667,19.300000
Brazil,10.0,6.7,49.000000,7.006667,61.000000,35.866667,27.000000,NaN,NaN,NaN,...,NaN,89.25,NaN,NaN,2.2,398.2,NaN,79.0,73.000000,16.166667
Canada,7.0,0.2,91.333333,3.673333,73.333333,82.500000,1.266667,30854.0,423849.0,22.0,...,47622.0,93.25,2.6,87.80,2.9,523.2,14.553333,68.0,91.000000,17.333333

---

## 3.- Multi-√çndices

Hasta el mmomento solo hemos trabajado con `Dataframes` que contienen solo un nivel de filas o columnas. Sin embargo, es posible tambi√©n agregar m√°s niveles a los indices y a las columnas. 
Esto se le conoce como multi-√≠ndice.

In [ ]:
dataset_original.loc[:, ["Continent", "Country", "Indicator", "Unit", "Value"]].head()

Para agregar niveles de columnas, en el proceso de pivoteo vamos a indicar que tanto `Unit` como `Indicator` sean niveles de las columnas; y que a la vez, tanto `Continent` como `Country` sean indices para las filas. 

El resultado de esto puede ser visto en el siguiente `DataFrame`:

In [ ]:
dataset_multindex = pd.pivot_table(
    dataset_original,
    index=["Continent", "Country"],
    columns=["Unit", "Indicator"],
    values="Value",
)

dataset_multindex

Unit                          Average score  \
Indicator                 Life satisfaction
Continent Country
AF        South Africa             4.700000
AS        Israel                   7.225000
          Japan                    5.900000
          Korea                    5.866667
EU        Austria                  7.225000
          Belgium                  7.000000
          Czech Republic           6.700000
          Denmark                  7.650000
          Estonia                  5.780000
          Finland                  7.660000
          France                   6.540000
          Germany                  7.100000
          Greece                   5.340000
          Hungary                  5.680000
          Iceland                  7.580000
          Ireland                  7.050000
          Italy                    6.140000
          Latvia                   5.940000
          Lithuania                5.980000
          Luxembourg               6.900000
          Netherlands              7.500000
          Norway                   7.620000
          Poland                   6.100000
          Portugal                 5.480000
          Russia                   5.880000
          Slovak Republic          6.425000
          Slovenia                 5.933333
          Spain                    6.225000
          Sweden                   7.400000
          Switzerland              7.500000
          Turkey                   5.520000
          United Kingdom           6.860000
NA        Canada                   7.425000
          Mexico                   6.466667
          United States            7.000000
OC        Australia                7.350000
          New Zealand              7.300000
OECD      OECD - Total             6.480000
SA        Brazil                   6.400000
          Chile                    6.480000
          Colombia                 6.266667

Unit                                                                         \
Indicator                 Stakeholder engagement for developing regulations
Continent Country
AF        South Africa                                                  NaN
AS        Israel                                                        2.5
          Japan                                                         1.4
          Korea                                                         2.9
EU        Austria                                                       1.3
          Belgium                                                       2.0
          Czech Republic                                                1.6
          Denmark                                                       2.0
          Estonia                                                       2.7
          Finland                                                       2.2
          France                                                        2.1
          Germany                                                       1.8
          Greece                                                        1.8
          Hungary                                                       1.2
          Iceland                                                       2.1
          Ireland                                                       1.3
          Italy                                                         2.5
          Latvia                                                        2.2
          Lithuania                                                     2.4
          Luxembourg                                                    1.7
          Netherlands                                                   2.6
          Norway                                                        2.2
          Poland                                                        2.6
          Portugal                                                      1.5
          Russia                                                        NaN
          Slovak Republic                                               3.0
          Slovenia                                                      2.5
          Spain                                                         1.8
          Sweden                                                        2.0
          Switzerland                                                   2.3
          Turkey                                                        1.5
          United Kingdom                                                3.1
NA        Canada                                                        2.9
          Mexico                                                        3.2
          United States                                                 3.1
OC        Australia                                                     2.7
          New Zealand                                                   2.5
OECD      OECD - Total                                                  2.4
SA        Brazil                                                        2.2
          Chile                                                         1.3
          Colombia                                                      1.4

Unit                                      \
Indicator                 Student skills
Continent Country
AF        South Africa               NaN
AS        Israel                   470.0
          Japan                    528.8
          Korea                    520.0
EU        Austria                  492.8
          Belgium                  503.8
          Czech Republic           492.2
          Denmark                  505.2
          Estonia                  525.8
          Finland                  523.6
          France                   497.4
          Germany                  511.0
          Greece                   460.2
          Hungary                  475.0
          Iceland                  480.8
          Ireland                  509.8
          Italy                    485.0
          Latvia                   487.6
          Lithuania                476.6
          Luxembourg               485.4
          Netherlands              509.6
          Norway                   504.8
          Poland                   505.4
          Portugal                 499.4
          Russia                   491.8
          Slovak Republic          463.4
          Slovenia                 510.4
          Spain                    492.4
          Sweden                   497.0
          Switzerland              507.4
          Turkey                   426.8
          United Kingdom           502.4
NA        Canada                   523.2
          Mexico                   416.0
          United States            489.4
OC        Australia                411.2
          New Zealand              506.2
OECD      OECD - Total             490.4
SA        Brazil                   398.2
          Chile                    443.8
          Colombia                 412.8

Unit                                                          Hours  \
Indicator                 Time devoted to leisure and personal care
Continent Country
AF        South Africa                                    14.770000
AS        Israel                                                NaN
          Japan                                                 NaN
          Korea                                           14.583333
EU        Austria                                         14.530000
          Belgium                                         15.663333
          Czech Republic                                        NaN
          Denmark                                         15.873333
          Estonia                                         14.886667
          Finland                                         15.163333
          France                                          16.336667
          Germany                                         15.613333
          Greece                                                NaN
          Hungary                                               NaN
          Iceland                                               NaN
          Ireland                                               NaN
          Italy                                           16.313333
          Latvia                                          13.826667
          Lithuania                                             NaN
          Luxembourg                                            NaN
          Netherlands                                           NaN
          Norway                                          15.563333
          Poland                                          14.390000
          Portugal                                              NaN
          Russia                                                NaN
          Slovak Republic                                       NaN
          Slovenia                                        14.730000
          Spain                                           15.860000
          Sweden                                          15.176667
          Switzerland                                           NaN
          Turkey                                          14.653333
          United Kingdom                                  14.916667
NA        Canada                                          14.553333
          Mexico                                                NaN
          United States                                   14.440000
OC        Australia                                       14.350000
          New Zealand                                     14.883333
OECD      OECD - Total                                    14.896667
SA        Brazil                                                NaN
          Chile                                                 NaN
          Colombia                                              NaN

Unit                      Micrograms per cubic metre  \
Indicator                              Air pollution
Continent Country
AF        South Africa                          22.0
AS        Israel                                21.0
          Japan                                 14.0
          Korea                                 28.0
EU        Austria                               16.0
          Belgium                               15.0
          Czech Republic                        20.0
          Denmark                                9.0
          Estonia                                8.0
          Finland                                6.0
          France                                13.0
          Germany                               14.0
          Greece                                18.0
          Hungary                               19.0
          Iceland                                3.0
          Ireland                                7.0
          Italy                                 18.0
          Latvia                                11.0
          Lithuania                             14.0
          Luxembourg                            12.0
          Netherlands                           14.0
          Norway                                 5.0
          Poland                                22.0
          Portugal                              10.0
          Russia                                15.0
          Slovak Republic                       21.0
          Slovenia                              16.0
          Spain                                 11.0
          Sweden                                 6.0
          Switzerland                           15.0
          Turkey                                20.0
          United Kingdom                        11.0
NA        Canada                                 7.0
          Mexico                                16.0
          United States                         10.0
OC        Australia                              5.0
          New Zealand                            5.0
OECD      OECD - Total                          14.0
SA        Brazil                                10.0
          Chile                                 16.0
          Colombia                              10.0

Unit                                              Percentage  \
Indicator                 Dwellings without basic facilities
Continent Country
AF        South Africa                                  37.0
AS        Israel                                         NaN
          Japan                                          6.4
          Korea                                          2.5
EU        Austria                                        0.9
          Belgium                                        1.9
          Czech Republic                                 0.7
          Denmark                                        0.5
          Estonia                                        7.0
          Finland                                        0.5
          France                                         0.5
          Germany                                        0.2
          Greece                                         0.5
          Hungary                                        4.7
          Iceland                                        0.0
          Ireland                                        1.0
          Italy                                          0.7
          Latvia                                        13.9
          Lithuania                                     13.6
          Luxembourg                                     0.5
          Netherlands                                    0.1
          Norway                                         0.0
          Poland                                         3.0
          Portugal                                       1.0
          Russia                                        14.8
          Slovak Republic                                1.2
          Slovenia                                       0.4
          Spain                                          0.1
          Sweden                                         0.0
          Switzerland                                    0.1
          Turkey                                         8.0
          United Kingdom                                 0.3
NA        Canada                                         0.2
          Mexico                                        25.5
          United States                                  0.1
OC        Australia                                      NaN
          New Zealand                                    NaN
OECD      OECD - Total                                   4.4
SA        Brazil                                         6.7
          Chile                                          9.4
          Colombia                                      23.9

Unit                                              \
Indicator                 Educational attainment
Continent Country
AF        South Africa                 73.333333
AS        Israel                       87.333333
          Japan                              NaN
          Korea                        87.666667
EU        Austria                      85.000000
          Belgium                      77.000000
          Czech Republic               93.666667
          Denmark                      81.000000
          Estonia                      88.666667
          Finland                      88.000000
          France                       78.333333
          Germany                      86.666667
          Greece                       73.000000
          Hungary                      84.000000
          Iceland                      77.000000
          Ireland                      82.000000
          Italy                        61.000000
          Latvia                       87.666667
          Lithuania                    92.666667
          Luxembourg                   76.666667
          Netherlands                  78.333333
          Norway                       82.000000
          Poland                       92.000000
          Portugal                     47.666667
          Russia                       94.000000
          Slovak Republic              91.333333
          Slovenia                     88.000000
          Spain                        59.000000
          Sweden                       83.000000
          Switzerland                  87.666667
          Turkey                       39.000000
          United Kingdom               81.000000
NA        Canada                       91.333333
          Mexico                       37.666667
          United States                90.666667
OC        Australia                    81.000000
          New Zealand                  78.666667
OECD      OECD - Total                 78.333333
SA        Brazil                       49.000000
          Chile                        65.000000
          Colombia                     54.000000

Unit                                                                         \
Indicator                 Employees working very long hours Employment rate
Continent Country
AF        South Africa                            17.840000       43.333333
AS        Israel                                  15.273333       69.000000
          Japan                                         NaN       75.000000
          Korea                                         NaN       66.666667
EU        Austria                                  6.590000       72.000000
          Belgium                                  4.703333       63.333333
          Czech Republic                           5.496667       73.666667
          Denmark                                  2.316667       74.000000
          Estonia                                  2.436667       74.000000
          Finland                                  3.816667       70.333333
          France                                   7.656667       65.333333
          Germany                                  4.196667       75.333333
          Greece                                   6.280000       53.333333
          Hungary                                  2.976667       68.000000
          Iceland                                 14.866667       85.666667
          Ireland                                  5.260000       67.333333
          Italy                                    4.003333       58.000000
          Latvia                                   1.280000       70.000000
          Lithuania                                0.546667       70.333333
          Luxembourg                               3.740000       66.333333
          Netherlands                              0.413333       75.666667
          Norway                                   2.886667       74.000000
          Poland                                   5.823333       66.000000
          Portugal                                 8.340000       68.000000
          Russia                                   0.140000       70.333333
          Slovak Republic                          4.073333       66.000000
          Slovenia                                 4.333333       69.333333
          Spain                                    3.963333       62.333333
          Sweden                                   1.066667       76.666667
          Switzerland                              0.370000       79.666667
          Turkey                                  31.043333       51.666667
          United Kingdom                          12.123333       75.000000
NA        Canada                                   3.673333       73.333333
          Mexico                                  27.280000       61.666667
          United States                           10.990000       70.000000
OC        Australia                               12.840000       73.000000
          New Zealand                             15.036667       77.000000

In [ ]:
dataset_multindex.index

MultiIndex([(  'AF',    'South Africa'),
            (  'AS',          'Israel'),
            (  'AS',           'Japan'),
            (  'AS',           'Korea'),
            (  'EU',         'Austria'),
            (  'EU',         'Belgium'),
            (  'EU',  'Czech Republic'),
            (  'EU',         'Denmark'),
            (  'EU',         'Estonia'),
            (  'EU',         'Finland'),
            (  'EU',          'France'),
            (  'EU',         'Germany'),
            (  'EU',          'Greece'),
            (  'EU',         'Hungary'),
            (  'EU',         'Iceland'),
            (  'EU',         'Ireland'),
            (  'EU',           'Italy'),
            (  'EU',          'Latvia'),
            (  'EU',       'Lithuania'),
            (  'EU',      'Luxembourg'),
            (  'EU',     'Netherlands'),
            (  'EU',          'Norway'),
            (  'EU',          'Poland'),
            (  'EU',        'Portugal'),
            (  'EU',          'Russia'),
            (  'EU', 'Slovak Republic'),
            (  'EU',        'Slovenia'),
            (  'EU',           'Spain'),
            (  'EU',          'Sweden'),
            (  'EU',     'Switzerland'),
            (  'EU',          'Turkey'),
            (  'EU',  'United Kingdom'),
            (  'NA',          'Canada'),
            (  'NA',          'Mexico'),
            (  'NA',   'United States'),
            (  'OC',       'Australia'),
            (  'OC',     'New Zealand'),
            ('OECD',    'OECD - Total'),
            (  'SA',          'Brazil'),
            (  'SA',           'Chile'),
            (  'SA',        'Colombia')],
           names=['Continent', 'Country'])

Ojo que las columnas tambi√©n son Indices!

In [ ]:
dataset_multindex.columns.values

array([('Average score', 'Life satisfaction'),
       ('Average score', 'Stakeholder engagement for developing regulations'),
       ('Average score', 'Student skills'),
       ('Hours', 'Time devoted to leisure and personal care'),
       ('Micrograms per cubic metre', 'Air pollution'),
       ('Percentage', 'Dwellings without basic facilities'),
       ('Percentage', 'Educational attainment'),
       ('Percentage', 'Employees working very long hours'),
       ('Percentage', 'Employment rate'),
       ('Percentage', 'Feeling safe walking alone at night'),
       ('Percentage', 'Housing expenditure'),
       ('Percentage', 'Labour market insecurity'),
       ('Percentage', 'Long-term unemployment rate'),
       ('Percentage', 'Quality of support network'),
       ('Percentage', 'Self-reported health'),
       ('Percentage', 'Voter turnout'), ('Percentage', 'Water quality'),
       ('Ratio', 'Homicide rate'), ('Ratio', 'Rooms per person'),
       ('US Dollar', 'Household net adjusted disposable income'),
       ('US Dollar', 'Household net wealth'),
       ('US Dollar', 'Personal earnings'), ('Years', 'Life expectancy'),
       ('Years', 'Years in education')], dtype=object)

Podemos acceder a los indices de cada nivel usando `get_level_values`

In [ ]:
dataset_multindex.columns.get_level_values(0)

Index(['Average score', 'Average score', 'Average score', 'Hours',
       'Micrograms per cubic metre', 'Percentage', 'Percentage', 'Percentage',
       'Percentage', 'Percentage', 'Percentage', 'Percentage', 'Percentage',
       'Percentage', 'Percentage', 'Percentage', 'Percentage', 'Ratio',
       'Ratio', 'US Dollar', 'US Dollar', 'US Dollar', 'Years', 'Years'],
      dtype='object', name='Unit')

In [ ]:
dataset_multindex.columns.get_level_values(1)

Index(['Life satisfaction',
       'Stakeholder engagement for developing regulations', 'Student skills',
       'Time devoted to leisure and personal care', 'Air pollution',
       'Dwellings without basic facilities', 'Educational attainment',
       'Employees working very long hours', 'Employment rate',
       'Feeling safe walking alone at night', 'Housing expenditure',
       'Labour market insecurity', 'Long-term unemployment rate',
       'Quality of support network', 'Self-reported health', 'Voter turnout',
       'Water quality', 'Homicide rate', 'Rooms per person',
       'Household net adjusted disposable income', 'Household net wealth',
       'Personal earnings', 'Life expectancy', 'Years in education'],
      dtype='object', name='Indicator')

Tambi√©n a cierto nivel de las columnas

In [ ]:
dataset_multindex.index.get_level_values(0)

Index(['AF', 'AS', 'AS', 'AS', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU',
       'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU',
       'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'NA', 'NA', 'NA', 'OC',
       'OC', 'OECD', 'SA', 'SA', 'SA'],
      dtype='object', name='Continent')

In [ ]:
dataset_multindex.index.get_level_values(1)

Index(['South Africa', 'Israel', 'Japan', 'Korea', 'Austria', 'Belgium',
       'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany',
       'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia',
       'Lithuania', 'Luxembourg', 'Netherlands', 'Norway', 'Poland',
       'Portugal', 'Russia', 'Slovak Republic', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Turkey', 'United Kingdom', 'Canada', 'Mexico',
       'United States', 'Australia', 'New Zealand', 'OECD - Total', 'Brazil',
       'Chile', 'Colombia'],
      dtype='object', name='Country')

### Acceder a Multi-√çndices

> **Ejercicio ‚úèÔ∏è**: Seleccionar la fila que contiene a Chile

In [ ]:
dataset_multindex.tail(10)

Unit                         Average score  \
Indicator                Life satisfaction
Continent Country
EU        United Kingdom          6.860000
NA        Canada                  7.425000
          Mexico                  6.466667
          United States           7.000000
OC        Australia               7.350000
          New Zealand             7.300000
OECD      OECD - Total            6.480000
SA        Brazil                  6.400000
          Chile                   6.480000
          Colombia                6.266667

Unit                                                                        \
Indicator                Stakeholder engagement for developing regulations
Continent Country
EU        United Kingdom                                               3.1
NA        Canada                                                       2.9
          Mexico                                                       3.2
          United States                                                3.1
OC        Australia                                                    2.7
          New Zealand                                                  2.5
OECD      OECD - Total                                                 2.4
SA        Brazil                                                       2.2
          Chile                                                        1.3
          Colombia                                                     1.4

Unit                                     \
Indicator                Student skills
Continent Country
EU        United Kingdom          502.4
NA        Canada                  523.2
          Mexico                  416.0
          United States           489.4
OC        Australia               411.2
          New Zealand             506.2
OECD      OECD - Total            490.4
SA        Brazil                  398.2
          Chile                   443.8
          Colombia                412.8

Unit                                                         Hours  \
Indicator                Time devoted to leisure and personal care
Continent Country
EU        United Kingdom                                 14.916667
NA        Canada                                         14.553333
          Mexico                                               NaN
          United States                                  14.440000
OC        Australia                                      14.350000
          New Zealand                                    14.883333
OECD      OECD - Total                                   14.896667
SA        Brazil                                               NaN
          Chile                                                NaN
          Colombia                                             NaN

Unit                     Micrograms per cubic metre  \
Indicator                             Air pollution
Continent Country
EU        United Kingdom                       11.0
NA        Canada                                7.0
          Mexico                               16.0
          United States                        10.0
OC        Australia                             5.0
          New Zealand                           5.0
OECD      OECD - Total                         14.0
SA        Brazil                               10.0
          Chile                                16.0
          Colombia                             10.0

Unit                                             Percentage  \
Indicator                Dwellings without basic facilities
Continent Country
EU        United Kingdom                                0.3
NA        Canada                                        0.2
          Mexico                                       25.5
          United States                                 0.1
OC        Australia                                     NaN
          New Zealand                                   NaN
OECD      OECD - Total                                  4.4
SA        Brazil                                        6.7
          Chile                                         9.4
          Colombia                                     23.9

Unit                                             \
Indicator                Educational attainment
Continent Country
EU        United Kingdom              81.000000
NA        Canada                      91.333333
          Mexico                      37.666667
          United States               90.666667
OC        Australia                   81.000000
          New Zealand                 78.666667
OECD      OECD - Total                78.333333
SA        Brazil                      49.000000
          Chile                       65.000000
          Colombia                    54.000000

Unit                                                                        \
Indicator                Employees working very long hours Employment rate
Continent Country
EU        United Kingdom                         12.123333       75.000000
NA        Canada                                  3.673333       73.333333
          Mexico                                 27.280000       61.666667
          United States                          10.990000       70.000000
OC        Australia                              12.840000       73.000000
          New Zealand                            15.036667       77.000000
OECD      OECD - Total                           10.786667       68.000000
SA        Brazil                                  7.006667       61.000000
          Chile                                   9.316667       62.666667
          Colombia                               26.006667       67.000000

Unit                                                          ...  \
Indicator                Feeling safe walking alone at night  ...
Continent Country                                             ...
EU        United Kingdom                           77.766667  ...
NA        Canada                                   82.500000  ...
          Mexico                                   41.966667  ...
          United States                            73.900000  ...
OC        Australia                                64.133333  ...
          New Zealand                              66.266667  ...
OECD      OECD - Total                             68.500000  ...
SA        Brazil                                   35.866667  ...
          Chile                                    48.000000  ...
          Colombia                                 44.566667  ...

Unit                                                                       \
Indicator                Self-reported health Voter turnout Water quality
Continent Country
EU        United Kingdom            70.000000          69.0     83.666667
NA        Canada                    87.800000          68.0     91.000000
          Mexico                    65.666667          63.0     67.666667
          United States             86.800000          65.0     82.666667
OC        Australia                 87.250000          91.0     92.666667
          New Zealand               89.250000          80.0     89.000000
OECD      OECD - Total              69.200000          68.0     81.000000
SA        Brazil                          NaN          79.0     73.000000
          Chile                     57.000000          47.0     71.000000
          Colombia                        NaN          53.0     74.666667

Unit                             Ratio                   \
Indicator                Homicide rate Rooms per person
Continent Country
EU        United Kingdom      0.166667              1.9
NA        Canada              1.266667              2.6
          Mexico             18.633333              1.0
          United States       5.500000              2.4
OC        Australia           1.100000              NaN
          New Zealand         1.300000              2.4
OECD      OECD - Total        3.733333              1.8
SA        Brazil             27.000000              NaN
          Chile               4.200000              1.2
          Colombia           25.000000              1.2

Unit                                                    US Dollar  \
Indicator                Household net adjusted disposable income
Continent Country
EU        United Kingdom                                  28715.0
NA        Canada                                          30854.0
          Mexico                                              NaN
          United States                                   45284.0
OC        Australia                                       32759.0
          New Zealand                                         NaN
OECD      OECD - Total                                    33604.0
SA        Brazil                                              NaN
          Chile                                               NaN
          Colombia                                            NaN

Unit                                                             \
Indicator                Household net wealth Personal earnings
Continent Country
EU        United Kingdom             548392.0           43732.0
NA        Canada                     423849.0           47622.0
          Mexico                          NaN           15314.0
          United States              632100.0           60558.0
OC        Australia                  427064.0           49126.0
          New Zealand                388514.0           40043.0
OECD      OECD - Total               408376.0           43241.0
SA        Brazil                          NaN               NaN
          Chile                      100967.0           25879.0
          Colombia                        NaN               NaN

Unit                               Years
Indicator                Life expectancy Years in education
Continent Country
EU        United Kingdom       81.200000          17.500000
NA        Canada               81.866667          17.333333
          Mexico               75.400000          15.166667
          United States        78.600000          17.200000
OC        Australia            82.500000          20.966667
          New Zealand          81.700000          17.700000
OECD      OECD - Total         80.200000          17.200000
SA        Brazil               74.766667          16.166667
          Chile                79.900000          17.500000
          Colombia             76.233333          14.100000

[10 rows x 24 columns]

Siempre vamos indexando desde afuera hacia adentro. En este caso, para seleccionar Chile, primero tenemos que seleccionar Sudamerica.

In [ ]:
dataset_multindex.loc[["SA"], :]

Unit                   Average score  \
Indicator          Life satisfaction
Continent Country
SA        Brazil            6.400000
          Chile             6.480000
          Colombia          6.266667

Unit                                                                  \
Indicator          Stakeholder engagement for developing regulations
Continent Country
SA        Brazil                                                 2.2
          Chile                                                  1.3
          Colombia                                               1.4

Unit                                                                  Hours  \
Indicator          Student skills Time devoted to leisure and personal care
Continent Country
SA        Brazil            398.2                                       NaN
          Chile             443.8                                       NaN
          Colombia          412.8                                       NaN

Unit               Micrograms per cubic metre  \
Indicator                       Air pollution
Continent Country
SA        Brazil                         10.0
          Chile                          16.0
          Colombia                       10.0

Unit                                       Percentage                         \
Indicator          Dwellings without basic facilities Educational attainment
Continent Country
SA        Brazil                                  6.7                   49.0
          Chile                                   9.4                   65.0
          Colombia                               23.9                   54.0

Unit                                                                  \
Indicator          Employees working very long hours Employment rate
Continent Country
SA        Brazil                            7.006667       61.000000
          Chile                             9.316667       62.666667
          Colombia                         26.006667       67.000000

Unit                                                    ...  \
Indicator          Feeling safe walking alone at night  ...
Continent Country                                       ...
SA        Brazil                             35.866667  ...
          Chile                              48.000000  ...
          Colombia                           44.566667  ...

Unit                                                                 \
Indicator          Self-reported health Voter turnout Water quality
Continent Country
SA        Brazil                    NaN          79.0     73.000000
          Chile                    57.0          47.0     71.000000
          Colombia                  NaN          53.0     74.666667

Unit                       Ratio                   \
Indicator          Homicide rate Rooms per person
Continent Country
SA        Brazil            27.0              NaN
          Chile              4.2              1.2
          Colombia          25.0              1.2

Unit                                              US Dollar  \
Indicator          Household net adjusted disposable income
Continent Country
SA        Brazil                                        NaN
          Chile                                         NaN
          Colombia                                      NaN

Unit                                                                Years  \
Indicator          Household net wealth Personal earnings Life expectancy
Continent Country
SA        Brazil                    NaN               NaN       74.766667
          Chile                100967.0           25879.0       79.900000
          Colombia                  NaN               NaN       76.233333

Unit
Indicator          Years in education
Continent Country
SA        Brazil            16.166667
          Chile             17.500000
          Colombia          14.100000

[3 rows x 24 columns]

Luego, usando una tupla, seleccionamos Chile:

In [ ]:
dataset_multindex.loc[[("SA", "Chile")], :]

Unit                  Average score  \
Indicator         Life satisfaction
Continent Country
SA        Chile                6.48

Unit                                                                 \
Indicator         Stakeholder engagement for developing regulations
Continent Country
SA        Chile                                                 1.3

Unit                                                                 Hours  \
Indicator         Student skills Time devoted to leisure and personal care
Continent Country
SA        Chile            443.8                                       NaN

Unit              Micrograms per cubic metre  \
Indicator                      Air pollution
Continent Country
SA        Chile                         16.0

Unit                                      Percentage                         \
Indicator         Dwellings without basic facilities Educational attainment
Continent Country
SA        Chile                                  9.4                   65.0

Unit                                                                 \
Indicator         Employees working very long hours Employment rate
Continent Country
SA        Chile                            9.316667       62.666667

Unit                                                   ...  \
Indicator         Feeling safe walking alone at night  ...
Continent Country                                      ...
SA        Chile                                  48.0  ...

Unit                                                                \
Indicator         Self-reported health Voter turnout Water quality
Continent Country
SA        Chile                   57.0          47.0          71.0

Unit                      Ratio                   \
Indicator         Homicide rate Rooms per person
Continent Country
SA        Chile             4.2              1.2

Unit                                             US Dollar  \
Indicator         Household net adjusted disposable income
Continent Country
SA        Chile                                        NaN

Unit                                                               Years  \
Indicator         Household net wealth Personal earnings Life expectancy
Continent Country
SA        Chile               100967.0           25879.0            79.9

Unit
Indicator         Years in education
Continent Country
SA        Chile                 17.5

[1 rows x 24 columns]

> **Ejercicio ‚úèÔ∏è**: Seleccionar las columnas de los indicadores basados en Porcentajes.

Mismo caso aqu√≠: Seleccionamos primero el √≠ndice externo:

In [ ]:
dataset_multindex.loc[:, ["Percentage"]]

Unit                                              Percentage  \
Indicator                 Dwellings without basic facilities
Continent Country
AF        South Africa                                  37.0
AS        Israel                                         NaN
          Japan                                          6.4
          Korea                                          2.5
EU        Austria                                        0.9
          Belgium                                        1.9
          Czech Republic                                 0.7
          Denmark                                        0.5
          Estonia                                        7.0
          Finland                                        0.5
          France                                         0.5
          Germany                                        0.2
          Greece                                         0.5
          Hungary                                        4.7
          Iceland                                        0.0
          Ireland                                        1.0
          Italy                                          0.7
          Latvia                                        13.9
          Lithuania                                     13.6
          Luxembourg                                     0.5
          Netherlands                                    0.1
          Norway                                         0.0
          Poland                                         3.0
          Portugal                                       1.0
          Russia                                        14.8
          Slovak Republic                                1.2
          Slovenia                                       0.4
          Spain                                          0.1
          Sweden                                         0.0
          Switzerland                                    0.1
          Turkey                                         8.0
          United Kingdom                                 0.3
NA        Canada                                         0.2
          Mexico                                        25.5
          United States                                  0.1
OC        Australia                                      NaN
          New Zealand                                    NaN
OECD      OECD - Total                                   4.4
SA        Brazil                                         6.7
          Chile                                          9.4
          Colombia                                      23.9

Unit                                              \
Indicator                 Educational attainment
Continent Country
AF        South Africa                 73.333333
AS        Israel                       87.333333
          Japan                              NaN
          Korea                        87.666667
EU        Austria                      85.000000
          Belgium                      77.000000
          Czech Republic               93.666667
          Denmark                      81.000000
          Estonia                      88.666667
          Finland                      88.000000
          France                       78.333333
          Germany                      86.666667
          Greece                       73.000000
          Hungary                      84.000000
          Iceland                      77.000000
          Ireland                      82.000000
          Italy                        61.000000
          Latvia                       87.666667
          Lithuania                    92.666667
          Luxembourg                   76.666667
          Netherlands                  78.333333
          Norway                       82.000000
          Poland                       92.000000
          Portugal                     47.666667
          Russia                       94.000000
          Slovak Republic              91.333333
          Slovenia                     88.000000
          Spain                        59.000000
          Sweden                       83.000000
          Switzerland                  87.666667
          Turkey                       39.000000
          United Kingdom               81.000000
NA        Canada                       91.333333
          Mexico                       37.666667
          United States                90.666667
OC        Australia                    81.000000
          New Zealand                  78.666667
OECD      OECD - Total                 78.333333
SA        Brazil                       49.000000
          Chile                        65.000000
          Colombia                     54.000000

Unit                                                                         \
Indicator                 Employees working very long hours Employment rate
Continent Country
AF        South Africa                            17.840000       43.333333
AS        Israel                                  15.273333       69.000000
          Japan                                         NaN       75.000000
          Korea                                         NaN       66.666667
EU        Austria                                  6.590000       72.000000
          Belgium                                  4.703333       63.333333
          Czech Republic                           5.496667       73.666667
          Denmark                                  2.316667       74.000000
          Estonia                                  2.436667       74.000000
          Finland                                  3.816667       70.333333
          France                                   7.656667       65.333333
          Germany                                  4.196667       75.333333
          Greece                                   6.280000       53.333333
          Hungary                                  2.976667       68.000000
          Iceland                                 14.866667       85.666667
          Ireland                                  5.260000       67.333333
          Italy                                    4.003333       58.000000
          Latvia                                   1.280000       70.000000
          Lithuania                                0.546667       70.333333
          Luxembourg                               3.740000       66.333333
          Netherlands                              0.413333       75.666667
          Norway                                   2.886667       74.000000
          Poland                                   5.823333       66.000000
          Portugal                                 8.340000       68.000000
          Russia                                   0.140000       70.333333
          Slovak Republic                          4.073333       66.000000
          Slovenia                                 4.333333       69.333333
          Spain                                    3.963333       62.333333
          Sweden                                   1.066667       76.666667
          Switzerland                              0.370000       79.666667
          Turkey                                  31.043333       51.666667
          United Kingdom                          12.123333       75.000000
NA        Canada                                   3.673333       73.333333
          Mexico                                  27.280000       61.666667
          United States                           10.990000       70.000000
OC        Australia                               12.840000       73.000000
          New Zealand                             15.036667       77.000000
OECD      OECD - Total                            10.786667       68.000000
SA        Brazil                                   7.006667       61.000000
          Chile                                    9.316667       62.666667
          Colombia                                26.006667       67.000000

Unit                                                           \
Indicator                 Feeling safe walking alone at night
Continent Country
AF        South Africa                              36.333333
AS        Israel                                    69.966667
          Japan                                     72.800000
          Korea                                     66.666667
EU        Austria                                   80.700000
          Belgium                                   70.266667
          Czech Republic                            72.533333
          Denmark                                   83.566667
          Estonia                                   69.633333
          Finland                                   85.266667
          France                                    70.700000
          Germany                                   72.600000
          Greece                                    60.200000
          Hungary                                   56.700000
          Iceland                                   86.300000
          Ireland                                   76.000000
          Italy                                     58.600000
          Latvia                                    63.066667
          Lithuania                                 56.233333
          Luxembourg                                75.866667
          Netherlands                               82.066667
          Norway                                    90.033333
          Poland                                    67.466667
          Portugal                                  73.766667
          Russia                                    53.466667
          Slovak Republic                           63.700000
          Slovenia                                  86.166667
          Spain                                     82.166667
          Sweden                                    75.566667
          Switzerland                               85.333333
          Turkey                                    59.833333
          United Kingdom                            77.766667
NA        Canada                                    82.500000
          Mexico                                    41.966667
          United States                             73.900000
OC        Australia                                 64.133333
          New Zealand                               66.266667
OECD      OECD - Total                              68.500000
SA        Brazil                                    35.866667
          Chile                                     48.000000
          Colombia                                  44.566667

Unit                                                                    \
Indicator                 Housing expenditure Labour market insecurity
Continent Country
AF        South Africa                   18.0                      NaN
AS        Israel                          NaN                    4.200
          Japan                          22.0                    2.220
          Korea                          15.0                    2.302
EU        Austria                        21.0                    4.076
          Belgium                        21.0                    4.052
          Czech Republic                 24.0                    7.208
          Denmark                        23.0                    4.606
          Estonia                        17.0                    4.392
          Finland                        23.0                    4.508
          France                         21.0                    8.380
          Germany                        20.0                    4.928
          Greece                         23.0                   29.200
          Hungary                        19.0                    5.256
          Iceland                        24.0                    0.662
          Ireland                        20.0                    8.784
          Italy                          23.0                   12.132
          Latvia                         23.0                   11.316
          Lithuania                      19.0                      NaN
          Luxembourg                     21.0                    1.722
          Netherlands                    19.0                    4.930
          Norway                         17.0                      NaN
          Poland                         22.0                    6.984
          Portugal                       21.0                    9.624
          Russia                         18.0                      NaN
          Slovak Republic                23.0                   21.376
          Slovenia                       18.0                    6.338
          Spain                          21.0                   23.792
          Sweden                         19.0                    4.232
          Switzerland                    22.0                      NaN
          Turkey                         20.0                   12.060
          United Kingdom                 26.0                    4.744
NA        Canada                         22.0                    7.048
          Mexico                         20.0                    5.396
          United States                  19.0                    9.072
OC        Australia                      20.0                    5.922
          New Zealand                    26.0                    4.700
OECD      OECD - Total                   20.0                    7.750
SA        Brazil                          NaN                      NaN
          Chile                          18.0                    8.168
          Colombia                       17.0                      NaN

Unit                                                   \
Indicator                 Long-term unemployment rate
Continent Country
AF        South Africa                      16.643333
AS        Israel                             0.486667
          Japan                              0.996667
          Korea                              0.050000
EU        Austria                            1.830000
          Belgium                            3.533333
          Czech Republic                     1.056667
          Denmark                            1.313333
          Estonia                            1.916667
          Finland                            2.123333
          France                             3.996667
          Germany                            1.556667
          Greece                            15.896667
          Hungary                            1.726667
          Iceland                            0.256667
          Ireland                            3.203333
          Italy                              6.640000
          Latvia                             3.353333
          Lithuania                          2.696667
          Luxembourg                         2.343333
          Netherlands                        1.976667
          Norway                             0.656667
          Poland                             1.513333
          Portugal                           4.430000
          Russia                             1.586667
          Slovak Republic                    4.773333
          Slovenia                           3.176667
          Spain                              7.710000
          Sweden                             1.113333
          Switzerland                        1.826667
          Turkey                             2.660000
          United Kingdom                     1.126667
NA        Canada                             0.763333
          Mexico                             0.066667
          United States                      0.656667
OC        Australia                          1.306667
          New Zealand                        0.736667
OECD      OECD - Total                       1.783333
SA        Brazil                                  NaN
          Chile                                   NaN
          Colombia                           0.820000

Unit                                                                       \
Indicator                 Quality of support network Self-reported health
Continent Country
AF        South Africa                     88.000000                  NaN
AS        Israel                           88.500000            86.750000
          Japan                            88.750000            34.800000
          Korea                            78.333333            33.000000
EU        Austria                          92.000000            70.600000
          Belgium                          92.000000            73.600000
          Czech Republic                   91.750000            60.800000
          Denmark                          95.500000            72.600000
          Estonia                          91.200000            54.400000
          Finland                          94.800000            70.200000
          France                           89.000000            66.400000
          Germany                          90.500000            65.400000
          Greece                           78.800000            76.000000
          Hungary                          85.500000            61.000000
          Iceland                          98.000000            76.000000
          Ireland                          95.000000            82.800000
          Italy                            91.800000            71.800000
          Latvia                           86.200000            48.000000
          Lithuania                        88.400000            45.600000
          Luxembourg                       93.000000            69.400000
          Netherlands                      91.000000            75.800000
          Norway                           94.000000            77.200000
          Poland                           86.000000            60.000000
          Portugal                         88.000000            48.200000
          Russia                           90.000000            43.333333
          Slovak Republic                  91.500000            68.600000
          Slovenia                         91.666667            64.400000
          Spain                            92.750000            74.000000
          Sweden                           91.500000            75.000000
          Switzerland                      93.333333            77.400000
          Turkey                           86.000000            70.400000
          United Kingdom                   94.000000            70.000000
NA        Canada                           93.250000            87.800000
          Mexico                           81.600000            65.666667
          United States                    91.750000            86.800000
OC        Australia                        95.250000            87.250000
          New Zealand                      96.250000            89.250000
OECD      OECD - Total                     88.400000            69.200000
SA        Brazil                           89.250000                  NaN
          Chile                            84.600000            57.000000
          Colombia                         89.000000                  NaN

Unit
Indicator                 Voter turnout Water quality
Continent Country
AF        South Africa             73.0     67.000000
AS        Israel                   72.0     67.000000
          Japan                    53.0     87.000000
          Korea                    77.0     76.000000
EU        Austria                  80.0     92.000000
          Belgium                  89.0     83.666667
          Czech Republic           61.0     86.666667
          Denmark                  86.0     95.000000
          Estonia                  64.0     84.000000
          Finland                  67.0     95.000000

> **Ejercicio ‚úèÔ∏è**: Seleccionar la columna que contiene a Life expectancy

In [ ]:
dataset_multindex.loc[:, [("Years", "Life expectancy")]]

Unit                                Years
Indicator                 Life expectancy
Continent Country
AF        South Africa          57.500000
AS        Israel                82.466667
          Japan                 84.066667
          Korea                 82.366667
EU        Austria               81.700000
          Belgium               81.500000
          Czech Republic        79.100000
          Denmark               80.900000
          Estonia               77.766667
          Finland               81.500000
          France                82.366667
          Germany               81.066667
          Greece                81.466667
          Hungary               76.166667
          Iceland               82.266667
          Ireland               81.766667
          Italy                 83.300000
          Latvia                74.700000
          Lithuania             74.800000
          Luxembourg            82.766667
          Netherlands           81.600000
          Norway                82.466667
          Poland                77.966667
          Portugal              81.200000
          Russia                71.800000
          Slovak Republic       77.266667
          Slovenia              81.266667
          Spain                 83.400000
          Sweden                82.366667
          Switzerland           83.666667
          Turkey                78.000000
          United Kingdom        81.200000
NA        Canada                81.866667
          Mexico                75.400000
          United States         78.600000
OC        Australia             82.500000
          New Zealand           81.700000
OECD      OECD - Total          80.200000
SA        Brazil                74.766667
          Chile                 79.900000
          Colombia              76.233333

> **Ejercicio ‚úèÔ∏è**: Seleccionar la fila que contiene a Chile y la columna que contiene a Life expectancy

In [ ]:
dataset_multindex.loc[[("SA", "Chile")], [("Years", "Life expectancy")]]

> **Pregunta ‚ùì**: ¬øC√≥mo puedo solicitar `Housing expenditure` como `Employment rate` al mismo tiempo?

In [ ]:
dataset_multindex.head()

In [ ]:
dataset_multindex.loc[
    :, [("Percentage", "Housing expenditure"), ("Percentage", "Employment rate")]
]

Unit                               Percentage
Indicator                 Housing expenditure Employment rate
Continent Country
AF        South Africa                   18.0       43.333333
AS        Israel                          NaN       69.000000
          Japan                          22.0       75.000000
          Korea                          15.0       66.666667
EU        Austria                        21.0       72.000000
          Belgium                        21.0       63.333333
          Czech Republic                 24.0       73.666667
          Denmark                        23.0       74.000000
          Estonia                        17.0       74.000000
          Finland                        23.0       70.333333
          France                         21.0       65.333333
          Germany                        20.0       75.333333
          Greece                         23.0       53.333333
          Hungary                        19.0       68.000000
          Iceland                        24.0       85.666667
          Ireland                        20.0       67.333333
          Italy                          23.0       58.000000
          Latvia                         23.0       70.000000
          Lithuania                      19.0       70.333333
          Luxembourg                     21.0       66.333333
          Netherlands                    19.0       75.666667
          Norway                         17.0       74.000000
          Poland                         22.0       66.000000
          Portugal                       21.0       68.000000
          Russia                         18.0       70.333333
          Slovak Republic                23.0       66.000000
          Slovenia                       18.0       69.333333
          Spain                          21.0       62.333333
          Sweden                         19.0       76.666667
          Switzerland                    22.0       79.666667
          Turkey                         20.0       51.666667
          United Kingdom                 26.0       75.000000
NA        Canada                         22.0       73.333333
          Mexico                         20.0       61.666667
          United States                  19.0       70.000000
OC        Australia                      20.0       73.000000
          New Zealand                    26.0       77.000000
OECD      OECD - Total                   20.0       68.000000
SA        Brazil                          NaN       61.000000
          Chile                          18.0       62.666667
          Colombia                       17.0       67.000000

In [ ]:
dataset_multindex.loc[
    :, [("Percentage", ["Housing expenditure", "Employment rate"])]
]

/usr/local/lib/python3.7/dist-packages/pandas/core/common.py:241: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

TypeError: ignored

Este caso puede convertirse en un problema cuando sacamos muchas columnas, ya que tendremos que escribir muchas tuplas.

#### Opci√≥n: `IndexSlice`

`IndexSlice` soluciona el problema anteriormente mencionado al permitir seleccionar m√°s de un √≠ndice/columna por nivel:

In [ ]:
idx = pd.IndexSlice

dataset_multindex.loc[
    :, idx["Percentage", ["Employees working very long hours", "Housing expenditure"]]
]

Unit                                             Percentage  \
Indicator                 Employees working very long hours
Continent Country
AF        South Africa                            17.840000
AS        Israel                                  15.273333
          Japan                                         NaN
          Korea                                         NaN
EU        Austria                                  6.590000
          Belgium                                  4.703333
          Czech Republic                           5.496667
          Denmark                                  2.316667
          Estonia                                  2.436667
          Finland                                  3.816667
          France                                   7.656667
          Germany                                  4.196667
          Greece                                   6.280000
          Hungary                                  2.976667
          Iceland                                 14.866667
          Ireland                                  5.260000
          Italy                                    4.003333
          Latvia                                   1.280000
          Lithuania                                0.546667
          Luxembourg                               3.740000
          Netherlands                              0.413333
          Norway                                   2.886667
          Poland                                   5.823333
          Portugal                                 8.340000
          Russia                                   0.140000
          Slovak Republic                          4.073333
          Slovenia                                 4.333333
          Spain                                    3.963333
          Sweden                                   1.066667
          Switzerland                              0.370000
          Turkey                                  31.043333
          United Kingdom                          12.123333
NA        Canada                                   3.673333
          Mexico                                  27.280000
          United States                           10.990000
OC        Australia                               12.840000
          New Zealand                             15.036667
OECD      OECD - Total                            10.786667
SA        Brazil                                   7.006667
          Chile                                    9.316667
          Colombia                                26.006667

Unit
Indicator                 Housing expenditure
Continent Country
AF        South Africa                   18.0
AS        Israel                          NaN
          Japan                          22.0
          Korea                          15.0
EU        Austria                        21.0
          Belgium                        21.0
          Czech Republic                 24.0
          Denmark                        23.0
          Estonia                        17.0
          Finland                        23.0
          France                         21.0
          Germany                        20.0
          Greece                         23.0
          Hungary                        19.0
          Iceland                        24.0
          Ireland                        20.0
          Italy                          23.0
          Latvia                         23.0
          Lithuania                      19.0
          Luxembourg                     21.0
          Netherlands                    19.0
          Norway                         17.0
          Poland                         22.0
          Portugal                       21.0
          Russia                         18.0
          Slovak Republic                23.0
          Slovenia                       18.0
          Spain                          21.0
          Sweden                         19.0
          Switzerland                    22.0
          Turkey                         20.0
          United Kingdom                 26.0
NA        Canada                         22.0
          Mexico                         20.0
          United States                  19.0
OC        Australia                      20.0
          New Zealand                    26.0
OECD      OECD - Total                   20.0
SA        Brazil                          NaN
          Chile                          18.0
          Colombia                       17.0

Lo siguiente extiende el ejemplo anterior para seleccionar los paises de Norte y Sudamerica.

In [ ]:
dataset_multindex.loc[
    idx[["NA", "SA"]],
    idx["Percentage", ["Employees working very long hours", "Housing expenditure"]],
]

Unit                                           Percentage
Indicator               Employees working very long hours Housing expenditure
Continent Country
NA        Canada                                 3.673333                22.0
          Mexico                                27.280000                20.0
          United States                         10.990000                19.0
SA        Brazil                                 7.006667                 NaN
          Chile                                  9.316667                18.0
          Colombia                              26.006667                17.0

Incluso, puede pedir m√°s de un √≠ndice/columna por cada nivel:

In [ ]:
dataset_multindex.loc[
    :,
    idx[
        ["Hours", "Percentage"],
        [
            "Time devoted to leisure and personal care",
            "Employees working very long hours",
            "Housing expenditure",
        ],
    ],
]

Unit                                                          Hours  \
Indicator                 Time devoted to leisure and personal care
Continent Country
AF        South Africa                                    14.770000
AS        Israel                                                NaN
          Japan                                                 NaN
          Korea                                           14.583333
EU        Austria                                         14.530000
          Belgium                                         15.663333
          Czech Republic                                        NaN
          Denmark                                         15.873333
          Estonia                                         14.886667
          Finland                                         15.163333
          France                                          16.336667
          Germany                                         15.613333
          Greece                                                NaN
          Hungary                                               NaN
          Iceland                                               NaN
          Ireland                                               NaN
          Italy                                           16.313333
          Latvia                                          13.826667
          Lithuania                                             NaN
          Luxembourg                                            NaN
          Netherlands                                           NaN
          Norway                                          15.563333
          Poland                                          14.390000
          Portugal                                              NaN
          Russia                                                NaN
          Slovak Republic                                       NaN
          Slovenia                                        14.730000
          Spain                                           15.860000
          Sweden                                          15.176667
          Switzerland                                           NaN
          Turkey                                          14.653333
          United Kingdom                                  14.916667
NA        Canada                                          14.553333
          Mexico                                                NaN
          United States                                   14.440000
OC        Australia                                       14.350000
          New Zealand                                     14.883333
OECD      OECD - Total                                    14.896667
SA        Brazil                                                NaN
          Chile                                                 NaN
          Colombia                                              NaN

Unit                                             Percentage  \
Indicator                 Employees working very long hours
Continent Country
AF        South Africa                            17.840000
AS        Israel                                  15.273333
          Japan                                         NaN
          Korea                                         NaN
EU        Austria                                  6.590000
          Belgium                                  4.703333
          Czech Republic                           5.496667
          Denmark                                  2.316667
          Estonia                                  2.436667
          Finland                                  3.816667
          France                                   7.656667
          Germany                                  4.196667
          Greece                                   6.280000
          Hungary                                  2.976667
          Iceland                                 14.866667
          Ireland                                  5.260000
          Italy                                    4.003333
          Latvia                                   1.280000
          Lithuania                                0.546667
          Luxembourg                               3.740000
          Netherlands                              0.413333
          Norway                                   2.886667
          Poland                                   5.823333
          Portugal                                 8.340000
          Russia                                   0.140000
          Slovak Republic                          4.073333
          Slovenia                                 4.333333
          Spain                                    3.963333
          Sweden                                   1.066667
          Switzerland                              0.370000
          Turkey                                  31.043333
          United Kingdom                          12.123333
NA        Canada                                   3.673333
          Mexico                                  27.280000
          United States                           10.990000
OC        Australia                               12.840000
          New Zealand                             15.036667
OECD      OECD - Total                            10.786667
SA        Brazil                                   7.006667
          Chile                                    9.316667
          Colombia                                26.006667

Unit
Indicator                 Housing expenditure
Continent Country
AF        South Africa                   18.0
AS        Israel                          NaN
          Japan                          22.0
          Korea                          15.0
EU        Austria                        21.0
          Belgium                        21.0
          Czech Republic                 24.0
          Denmark                        23.0
          Estonia                        17.0
          Finland                        23.0
          France                         21.0
          Germany                        20.0
          Greece                         23.0
          Hungary                        19.0
          Iceland                        24.0
          Ireland                        20.0
          Italy                          23.0
          Latvia                         23.0
          Lithuania                      19.0
          Luxembourg                     21.0
          Netherlands                    19.0
          Norway                         17.0
          Poland                         22.0
          Portugal                       21.0
          Russia                         18.0
          Slovak Republic                23.0
          Slovenia                       18.0
          Spain                          21.0
          Sweden                         19.0
          Switzerland                    22.0
          Turkey                         20.0
          United Kingdom                 26.0
NA        Canada                         22.0
          Mexico                         20.0
          United States                  19.0
OC        Australia                      20.0
          New Zealand                    26.0
OECD      OECD - Total                   20.0
SA        Brazil                          NaN
          Chile                          18.0
          Colombia                       17.0

### `droplevel`

El m√©todo `droplevel` nos permite eliminar un nivel de un multi-√≠ndice, tanto para filas como para columnas.
Recibe como par√°metros el nivel (partiendo por 0 desde afuera hacia adentro) y el eje (axis):

In [ ]:
dataset_multindex

Unit                          Average score  \
Indicator                 Life satisfaction
Continent Country
AF        South Africa             4.700000
AS        Israel                   7.225000
          Japan                    5.900000
          Korea                    5.866667
EU        Austria                  7.225000
          Belgium                  7.000000
          Czech Republic           6.700000
          Denmark                  7.650000
          Estonia                  5.780000
          Finland                  7.660000
          France                   6.540000
          Germany                  7.100000
          Greece                   5.340000
          Hungary                  5.680000
          Iceland                  7.580000
          Ireland                  7.050000
          Italy                    6.140000
          Latvia                   5.940000
          Lithuania                5.980000
          Luxembourg               6.900000
          Netherlands              7.500000
          Norway                   7.620000
          Poland                   6.100000
          Portugal                 5.480000
          Russia                   5.880000
          Slovak Republic          6.425000
          Slovenia                 5.933333
          Spain                    6.225000
          Sweden                   7.400000
          Switzerland              7.500000
          Turkey                   5.520000
          United Kingdom           6.860000
NA        Canada                   7.425000
          Mexico                   6.466667
          United States            7.000000
OC        Australia                7.350000
          New Zealand              7.300000
OECD      OECD - Total             6.480000
SA        Brazil                   6.400000
          Chile                    6.480000
          Colombia                 6.266667

Unit                                                                         \
Indicator                 Stakeholder engagement for developing regulations
Continent Country
AF        South Africa                                                  NaN
AS        Israel                                                        2.5
          Japan                                                         1.4
          Korea                                                         2.9
EU        Austria                                                       1.3
          Belgium                                                       2.0
          Czech Republic                                                1.6
          Denmark                                                       2.0
          Estonia                                                       2.7
          Finland                                                       2.2
          France                                                        2.1
          Germany                                                       1.8
          Greece                                                        1.8
          Hungary                                                       1.2
          Iceland                                                       2.1
          Ireland                                                       1.3
          Italy                                                         2.5
          Latvia                                                        2.2
          Lithuania                                                     2.4
          Luxembourg                                                    1.7
          Netherlands                                                   2.6
          Norway                                                        2.2
          Poland                                                        2.6
          Portugal                                                      1.5
          Russia                                                        NaN
          Slovak Republic                                               3.0
          Slovenia                                                      2.5
          Spain                                                         1.8
          Sweden                                                        2.0
          Switzerland                                                   2.3
          Turkey                                                        1.5
          United Kingdom                                                3.1
NA        Canada                                                        2.9
          Mexico                                                        3.2
          United States                                                 3.1
OC        Australia                                                     2.7
          New Zealand                                                   2.5
OECD      OECD - Total                                                  2.4
SA        Brazil                                                        2.2
          Chile                                                         1.3
          Colombia                                                      1.4

Unit                                      \
Indicator                 Student skills
Continent Country
AF        South Africa               NaN
AS        Israel                   470.0
          Japan                    528.8
          Korea                    520.0
EU        Austria                  492.8
          Belgium                  503.8
          Czech Republic           492.2
          Denmark                  505.2
          Estonia                  525.8
          Finland                  523.6
          France                   497.4
          Germany                  511.0
          Greece                   460.2
          Hungary                  475.0
          Iceland                  480.8
          Ireland                  509.8
          Italy                    485.0
          Latvia                   487.6
          Lithuania                476.6
          Luxembourg               485.4
          Netherlands              509.6
          Norway                   504.8
          Poland                   505.4
          Portugal                 499.4
          Russia                   491.8
          Slovak Republic          463.4
          Slovenia                 510.4
          Spain                    492.4
          Sweden                   497.0
          Switzerland              507.4
          Turkey                   426.8
          United Kingdom           502.4
NA        Canada                   523.2
          Mexico                   416.0
          United States            489.4
OC        Australia                411.2
          New Zealand              506.2
OECD      OECD - Total             490.4
SA        Brazil                   398.2
          Chile                    443.8
          Colombia                 412.8

Unit                                                          Hours  \
Indicator                 Time devoted to leisure and personal care
Continent Country
AF        South Africa                                    14.770000
AS        Israel                                                NaN
          Japan                                                 NaN
          Korea                                           14.583333
EU        Austria                                         14.530000
          Belgium                                         15.663333
          Czech Republic                                        NaN
          Denmark                                         15.873333
          Estonia                                         14.886667
          Finland                                         15.163333
          France                                          16.336667
          Germany                                         15.613333
          Greece                                                NaN
          Hungary                                               NaN
          Iceland                                               NaN
          Ireland                                               NaN
          Italy                                           16.313333
          Latvia                                          13.826667
          Lithuania                                             NaN
          Luxembourg                                            NaN
          Netherlands                                           NaN
          Norway                                          15.563333
          Poland                                          14.390000
          Portugal                                              NaN
          Russia                                                NaN
          Slovak Republic                                       NaN
          Slovenia                                        14.730000
          Spain                                           15.860000
          Sweden                                          15.176667
          Switzerland                                           NaN
          Turkey                                          14.653333
          United Kingdom                                  14.916667
NA        Canada                                          14.553333
          Mexico                                                NaN
          United States                                   14.440000
OC        Australia                                       14.350000
          New Zealand                                     14.883333
OECD      OECD - Total                                    14.896667
SA        Brazil                                                NaN
          Chile                                                 NaN
          Colombia                                              NaN

Unit                      Micrograms per cubic metre  \
Indicator                              Air pollution
Continent Country
AF        South Africa                          22.0
AS        Israel                                21.0
          Japan                                 14.0
          Korea                                 28.0
EU        Austria                               16.0
          Belgium                               15.0
          Czech Republic                        20.0
          Denmark                                9.0
          Estonia                                8.0
          Finland                                6.0
          France                                13.0
          Germany                               14.0
          Greece                                18.0
          Hungary                               19.0
          Iceland                                3.0
          Ireland                                7.0
          Italy                                 18.0
          Latvia                                11.0
          Lithuania                             14.0
          Luxembourg                            12.0
          Netherlands                           14.0
          Norway                                 5.0
          Poland                                22.0
          Portugal                              10.0
          Russia                                15.0
          Slovak Republic                       21.0
          Slovenia                              16.0
          Spain                                 11.0
          Sweden                                 6.0
          Switzerland                           15.0
          Turkey                                20.0
          United Kingdom                        11.0
NA        Canada                                 7.0
          Mexico                                16.0
          United States                         10.0
OC        Australia                              5.0
          New Zealand                            5.0
OECD      OECD - Total                          14.0
SA        Brazil                                10.0
          Chile                                 16.0
          Colombia                              10.0

Unit                                              Percentage  \
Indicator                 Dwellings without basic facilities
Continent Country
AF        South Africa                                  37.0
AS        Israel                                         NaN
          Japan                                          6.4
          Korea                                          2.5
EU        Austria                                        0.9
          Belgium                                        1.9
          Czech Republic                                 0.7
          Denmark                                        0.5
          Estonia                                        7.0
          Finland                                        0.5
          France                                         0.5
          Germany                                        0.2
          Greece                                         0.5
          Hungary                                        4.7
          Iceland                                        0.0
          Ireland                                        1.0
          Italy                                          0.7
          Latvia                                        13.9
          Lithuania                                     13.6
          Luxembourg                                     0.5
          Netherlands                                    0.1
          Norway                                         0.0
          Poland                                         3.0
          Portugal                                       1.0
          Russia                                        14.8
          Slovak Republic                                1.2
          Slovenia                                       0.4
          Spain                                          0.1
          Sweden                                         0.0
          Switzerland                                    0.1
          Turkey                                         8.0
          United Kingdom                                 0.3
NA        Canada                                         0.2
          Mexico                                        25.5
          United States                                  0.1
OC        Australia                                      NaN
          New Zealand                                    NaN
OECD      OECD - Total                                   4.4
SA        Brazil                                         6.7
          Chile                                          9.4
          Colombia                                      23.9

Unit                                              \
Indicator                 Educational attainment
Continent Country
AF        South Africa                 73.333333
AS        Israel                       87.333333
          Japan                              NaN
          Korea                        87.666667
EU        Austria                      85.000000
          Belgium                      77.000000
          Czech Republic               93.666667
          Denmark                      81.000000
          Estonia                      88.666667
          Finland                      88.000000
          France                       78.333333
          Germany                      86.666667
          Greece                       73.000000
          Hungary                      84.000000
          Iceland                      77.000000
          Ireland                      82.000000
          Italy                        61.000000
          Latvia                       87.666667
          Lithuania                    92.666667
          Luxembourg                   76.666667
          Netherlands                  78.333333
          Norway                       82.000000
          Poland                       92.000000
          Portugal                     47.666667
          Russia                       94.000000
          Slovak Republic              91.333333
          Slovenia                     88.000000
          Spain                        59.000000
          Sweden                       83.000000
          Switzerland                  87.666667
          Turkey                       39.000000
          United Kingdom               81.000000
NA        Canada                       91.333333
          Mexico                       37.666667
          United States                90.666667
OC        Australia                    81.000000
          New Zealand                  78.666667
OECD      OECD - Total                 78.333333
SA        Brazil                       49.000000
          Chile                        65.000000
          Colombia                     54.000000

Unit                                                                         \
Indicator                 Employees working very long hours Employment rate
Continent Country
AF        South Africa                            17.840000       43.333333
AS        Israel                                  15.273333       69.000000
          Japan                                         NaN       75.000000
          Korea                                         NaN       66.666667
EU        Austria                                  6.590000       72.000000
          Belgium                                  4.703333       63.333333
          Czech Republic                           5.496667       73.666667
          Denmark                                  2.316667       74.000000
          Estonia                                  2.436667       74.000000
          Finland                                  3.816667       70.333333
          France                                   7.656667       65.333333
          Germany                                  4.196667       75.333333
          Greece                                   6.280000       53.333333
          Hungary                                  2.976667       68.000000
          Iceland                                 14.866667       85.666667
          Ireland                                  5.260000       67.333333
          Italy                                    4.003333       58.000000
          Latvia                                   1.280000       70.000000
          Lithuania                                0.546667       70.333333
          Luxembourg                               3.740000       66.333333
          Netherlands                              0.413333       75.666667
          Norway                                   2.886667       74.000000
          Poland                                   5.823333       66.000000
          Portugal                                 8.340000       68.000000
          Russia                                   0.140000       70.333333
          Slovak Republic                          4.073333       66.000000
          Slovenia                                 4.333333       69.333333
          Spain                                    3.963333       62.333333
          Sweden                                   1.066667       76.666667
          Switzerland                              0.370000       79.666667
          Turkey                                  31.043333       51.666667
          United Kingdom                          12.123333       75.000000
NA        Canada                                   3.673333       73.333333
          Mexico                                  27.280000       61.666667
          United States                           10.990000       70.000000
OC        Australia                               12.840000       73.000000
          New Zealand                             15.036667       77.000000

In [ ]:
dataset_multindex.droplevel(0, axis=0).head()

Unit             Average score  \
Indicator    Life satisfaction
Country
South Africa          4.700000
Israel                7.225000
Japan                 5.900000
Korea                 5.866667
Austria               7.225000

Unit                                                                           \
Indicator    Stakeholder engagement for developing regulations Student skills
Country
South Africa                                               NaN            NaN
Israel                                                     2.5          470.0
Japan                                                      1.4          528.8
Korea                                                      2.9          520.0
Austria                                                    1.3          492.8

Unit                                             Hours  \
Indicator    Time devoted to leisure and personal care
Country
South Africa                                 14.770000
Israel                                             NaN
Japan                                              NaN
Korea                                        14.583333
Austria                                      14.530000

Unit         Micrograms per cubic metre                         Percentage  \
Indicator                 Air pollution Dwellings without basic facilities
Country
South Africa                       22.0                               37.0
Israel                             21.0                                NaN
Japan                              14.0                                6.4
Korea                              28.0                                2.5
Austria                            16.0                                0.9

Unit                                                                   \
Indicator    Educational attainment Employees working very long hours
Country
South Africa              73.333333                         17.840000
Israel                    87.333333                         15.273333
Japan                           NaN                               NaN
Korea                     87.666667                               NaN
Austria                   85.000000                          6.590000

Unit                                                              ...  \
Indicator    Employment rate Feeling safe walking alone at night  ...
Country                                                           ...
South Africa       43.333333                           36.333333  ...
Israel             69.000000                           69.966667  ...
Japan              75.000000                           72.800000  ...
Korea              66.666667                           66.666667  ...
Austria            72.000000                           80.700000  ...

Unit                                                                  Ratio  \
Indicator    Self-reported health Voter turnout Water quality Homicide rate
Country
South Africa                  NaN          73.0          67.0     14.000000
Israel                      86.75          72.0          67.0      1.833333
Japan                       34.80          53.0          87.0      0.200000
Korea                       33.00          77.0          76.0      1.000000
Austria                     70.60          80.0          92.0      0.466667

Unit                                                         US Dollar  \
Indicator    Rooms per person Household net adjusted disposable income
Country
South Africa              NaN                                      NaN
Israel                    1.2                                      NaN
Japan                     1.9                                  29798.0
Korea                     1.5                                  21882.0
Austria                   1.6                                  33541.0

Unit                                                          Years  \
Indicator    Household net wealth Personal earnings Life expectancy
Country
South Africa                  NaN               NaN       57.500000
Israel                        NaN           35067.0       82.466667
Japan                    305878.0           40863.0       84.066667
Korea                    285980.0           35191.0       82.366667
Austria                  308325.0           50349.0       81.700000

Unit
Indicator    Years in education
Country
South Africa                NaN
Israel                15.633333
Japan                 16.366667
Korea                 17.266667
Austria               17.000000

[5 rows x 24 columns]

In [ ]:
dataset_multindex.droplevel(1, axis=0).head()

Unit          Average score                                                    \
Indicator Life satisfaction Stakeholder engagement for developing regulations
Continent
AF                 4.700000                                               NaN
AS                 7.225000                                               2.5
AS                 5.900000                                               1.4
AS                 5.866667                                               2.9
EU                 7.225000                                               1.3

Unit                                                         Hours  \
Indicator Student skills Time devoted to leisure and personal care
Continent
AF                   NaN                                 14.770000
AS                 470.0                                       NaN
AS                 528.8                                       NaN
AS                 520.0                                 14.583333
EU                 492.8                                 14.530000

Unit      Micrograms per cubic metre                         Percentage  \
Indicator              Air pollution Dwellings without basic facilities
Continent
AF                              22.0                               37.0
AS                              21.0                                NaN
AS                              14.0                                6.4
AS                              28.0                                2.5
EU                              16.0                                0.9

Unit                                                                \
Indicator Educational attainment Employees working very long hours
Continent
AF                     73.333333                         17.840000
AS                     87.333333                         15.273333
AS                           NaN                               NaN
AS                     87.666667                               NaN
EU                     85.000000                          6.590000

Unit                                                           ...  \
Indicator Employment rate Feeling safe walking alone at night  ...
Continent                                                      ...
AF              43.333333                           36.333333  ...
AS              69.000000                           69.966667  ...
AS              75.000000                           72.800000  ...
AS              66.666667                           66.666667  ...
EU              72.000000                           80.700000  ...

Unit                                                               Ratio  \
Indicator Self-reported health Voter turnout Water quality Homicide rate
Continent
AF                         NaN          73.0          67.0     14.000000
AS                       86.75          72.0          67.0      1.833333
AS                       34.80          53.0          87.0      0.200000
AS                       33.00          77.0          76.0      1.000000
EU                       70.60          80.0          92.0      0.466667

Unit                                                      US Dollar  \
Indicator Rooms per person Household net adjusted disposable income
Continent
AF                     NaN                                      NaN
AS                     1.2                                      NaN
AS                     1.9                                  29798.0
AS                     1.5                                  21882.0
EU                     1.6                                  33541.0

Unit                                                       Years  \
Indicator Household net wealth Personal earnings Life expectancy
Continent
AF                         NaN               NaN       57.500000
AS                         NaN           35067.0       82.466667
AS                    305878.0           40863.0       84.066667
AS                    285980.0           35191.0       82.366667
EU                    308325.0           50349.0       81.700000

Unit
Indicator Years in education
Continent
AF                       NaN
AS                 15.633333
AS                 16.366667
AS                 17.266667
EU                 17.000000

[5 rows x 24 columns]

In [ ]:
dataset_multindex.droplevel(0, axis=1).head()

Noten que estos m√©todos generan DataFrames nuevos. Por ende, al ejecutarse deben reemplazar los `DataFrames` originales.

---

## 4.- Fundir / Melt

El proceso inverso al pivoteado:

![Melt](https://i.ibb.co/Y7x8XMz/melt.png)

En este caso retornaremos a algo similar al formato original del dataset:

In [ ]:
dataset.head()

In [ ]:
dataset.reset_index(drop=True).melt(id_vars=["Country"])

             Country               variable         value
0          Australia          Air pollution      5.000000
1            Austria          Air pollution     16.000000
2            Belgium          Air pollution     15.000000
3             Brazil          Air pollution     10.000000
4             Canada          Air pollution      7.000000
...              ...                    ...           ...
1020          Sweden  GPD per capita (2018)  54589.060390
1021     Switzerland  GPD per capita (2018)  82818.108160
1022          Turkey  GPD per capita (2018)   9370.176355
1023  United Kingdom  GPD per capita (2018)  43043.227820
1024   United States  GPD per capita (2018)  62996.664820

[1025 rows x 3 columns]

---

## 5.- Agregaciones con Group By


![Group By](https://i.ibb.co/G0yHWsC/group-by.png)

**Group by** es un proceso que implica uno o m√°s de los siguientes pasos:


- **Separar** los datos bajo alg√∫n criterio o grupo.

- **Aplicar** esta funci√≥n a estos datos agrupados.

- **Combinar** los resultados en un nuevo `DataFrame`.


Comunmente deseamos hacer alguna operaci√≥n sobre los datos agrupados.

- **Agregar**: Calcular alguna m√©trica o estad√≠stico por grupo.

    - Tama√±o/Conteo.
    - Promedio/Desviaci√≥n Estandar.


- **Transformar**: Hacer transformaciones por grupo (Propuesto).

    - Estandarizar datos.
    - Rellenar NaN's con promedios, etc...


- **Filtrar**: Descartar algunos grupos seg√∫n alg√∫n criterio (Propuesto).

### Dataset de Temperaturas Globales

![wbg_climate](https://i.ibb.co/Vwcb0SF/wbg-climate.png)


https://climateknowledgeportal.worldbank.org/download-data

**Cargar Dataset de Temperaturas Globales**

In [ ]:
temperaturas = pd.read_csv("https://raw.githubusercontent.com/maranedah/MDS7202/main/clases/Clase%208%20-%20Pandas%20-%20Parte%20II/resources/temperature.csv")
temperaturas.head(20)

    Temperature  Year Month      Country ISO3
0      -0.03110  1991   Jan  Afghanistan  AFG
1       1.43654  1991   Feb  Afghanistan  AFG
2       6.88685  1991   Mar  Afghanistan  AFG
3      12.93970  1991   Apr  Afghanistan  AFG
4      17.07550  1991   May  Afghanistan  AFG
5      23.07770  1991   Jun  Afghanistan  AFG
6      25.57100  1991   Jul  Afghanistan  AFG
7      23.96730  1991   Aug  Afghanistan  AFG
8      19.38000  1991   Sep  Afghanistan  AFG
9      12.87790  1991   Oct  Afghanistan  AFG
10      7.31675  1991   Nov  Afghanistan  AFG
11      4.23571  1991   Dec  Afghanistan  AFG
12      0.74637  1992   Jan  Afghanistan  AFG
13      2.46018  1992   Feb  Afghanistan  AFG
14      5.71341  1992   Mar  Afghanistan  AFG
15     11.69260  1992   Apr  Afghanistan  AFG
16     16.11080  1992   May  Afghanistan  AFG
17     22.88750  1992   Jun  Afghanistan  AFG
18     24.70680  1992   Jul  Afghanistan  AFG
19     22.86330  1992   Aug  Afghanistan  AFG

In [ ]:
temperaturas.columns

Index(['Temperature', 'Year', 'Month', 'Country', 'ISO3'], dtype='object')

**Filtrar solo los de Chile**

In [ ]:
temperaturas["Country"] == "Chile"

0        False
1        False
2        False
3        False
4        False
         ...
59899    False
59900    False
59901    False
59902    False
59903    False
Name: Country, Length: 59904, dtype: bool

In [ ]:
t_chile = temperaturas[temperaturas["Country"] == "Chile"]
t_chile

       Temperature  Year Month Country ISO3
10608     12.53860  1991   Jan   Chile  CHL
10609     12.29140  1991   Feb   Chile  CHL
10610     11.13730  1991   Mar   Chile  CHL
10611      8.85700  1991   Apr   Chile  CHL
10612      6.70605  1991   May   Chile  CHL
...            ...   ...   ...     ...  ...
10915      5.83910  2016   Aug   Chile  CHL
10916      7.19059  2016   Sep   Chile  CHL
10917      8.81492  2016   Oct   Chile  CHL
10918     10.71450  2016   Nov   Chile  CHL
10919     12.39610  2016   Dec   Chile  CHL

[312 rows x 5 columns]

In [ ]:
import plotly.express as px

px.line(t_chile, x="Month", y="Temperature", color="Year", height=600)

In [ ]:
fig = px.violin(t_chile, x="Month", y="Temperature")
fig.show()

### Paso 1: Separar

En esta parte veremos el primer paso del group-by: **Separar** por grupos.


![Group By](https://i.ibb.co/G0yHWsC/group-by.png)

Para esto, agrupamos temperaturas de Chile por mes:

#### Cantidad de Grupos

In [ ]:
t_chile.head(10)

       Temperature  Year Month Country ISO3
10608     12.53860  1991   Jan   Chile  CHL
10609     12.29140  1991   Feb   Chile  CHL
10610     11.13730  1991   Mar   Chile  CHL
10611      8.85700  1991   Apr   Chile  CHL
10612      6.70605  1991   May   Chile  CHL
10613      4.64511  1991   Jun   Chile  CHL
10614      3.67834  1991   Jul   Chile  CHL
10615      4.05806  1991   Aug   Chile  CHL
10616      6.60080  1991   Sep   Chile  CHL
10617      7.41883  1991   Oct   Chile  CHL

In [ ]:
t_chile.groupby("Month")

In [ ]:
len(t_chile.groupby("Month"))

12

#### Obtener el Listado de Grupos que Gener√≥

In [ ]:
import pprint

pprint.pprint(t_chile.groupby("Month").groups)

{'Apr': Int64Index([10611, 10623, 10635, 10647, 10659, 10671, 10683, 10695, 10707,
            10719, 10731, 10743, 10755, 10767, 10779, 10791, 10803, 10815,
            10827, 10839, 10851, 10863, 10875, 10887, 10899, 10911],
           dtype='int64'),
 'Aug': Int64Index([10615, 10627, 10639, 10651, 10663, 10675, 10687, 10699, 10711,
            10723, 10735, 10747, 10759, 10771, 10783, 10795, 10807, 10819,
            10831, 10843, 10855, 10867, 10879, 10891, 10903, 10915],
           dtype='int64'),
 'Dec': Int64Index([10619, 10631, 10643, 10655, 10667, 10679, 10691, 10703, 10715,
            10727, 10739, 10751, 10763, 10775, 10787, 10799, 10811, 10823,
            10835, 10847, 10859, 10871, 10883, 10895, 10907, 10919],
           dtype='int64'),
 'Feb': Int64Index([10609, 10621, 10633, 10645, 10657, 10669, 10681, 10693, 10705,
            10717, 10729, 10741, 10753, 10765, 10777, 10789, 10801, 10813,
            10825, 10837, 10849, 10861, 10873, 10885, 10897, 10909],
           dtype='int64'),
 'Jan': Int64Index([10608, 10620, 10632, 10644, 10656, 10668, 10680, 10692, 10704,
            10716, 10728, 10740, 10752, 10764, 10776, 10788, 10800, 10812,
            10824, 10836, 10848, 10860, 10872, 10884, 10896, 10908],
           dtype='int64'),
 'Jul': Int64Index([10614, 10626, 10638, 10650, 10662, 10674, 10686, 10698, 10710,
            10722, 10734, 10746, 10758, 10770, 10782, 10794, 10806, 10818,
            10830, 10842, 10854, 10866, 10878, 10890, 10902, 10914],
           dtype='int64'),
 'Jun': Int64Index([10613, 10625, 10637, 10649, 10661, 10673, 10685, 10697, 10709,
            10721, 10733, 10745, 10757, 10769, 10781, 10793, 10805, 10817,
            10829, 10841, 10853, 10865, 10877, 10889, 10901, 10913],
           dtype='int64'),
 'Mar': Int64Index([10610, 10622, 10634, 10646, 10658, 10670, 10682, 10694, 10706,
            10718, 10730, 10742, 10754, 10766, 10778, 10790, 10802, 10814,
            10826, 10838, 10850, 10862, 10874, 10886, 10898, 10910],
           dtype='int64'),
 'May': Int64Index([10612, 10624, 10636, 10648, 10660, 10672, 10684, 10696, 10708,
            10720, 10732, 10744, 10756, 10768, 10780, 10792, 10804, 10816,
            10828, 10840, 10852, 10864, 10876, 10888, 10900, 10912],
           dtype='int64'),
 'Nov': Int64Index([10618, 10630, 10642, 10654, 10666, 10678, 10690, 10702, 10714,
            10726, 10738, 10750, 10762, 10774, 10786, 10798, 10810, 10822,
            10834, 10846, 10858, 10870, 10882, 10894, 10906, 10918],
           dtype='int64'),
 'Oct': Int64Index([10617, 10629, 10641, 10653, 10665, 10677, 10689, 10701, 10713,
            10725, 10737, 10749, 10761, 10773, 10785, 10797, 10809, 10821,
            10833, 10845, 10857, 10869, 10881, 10893, 10905, 10917],
           dtype='int64'),
 'Sep': Int64Index([10616, 10628, 10640, 10652, 10664, 10676, 10688, 10700, 10712,
            10724, 10736, 10748, 10760, 10772, 10784, 10796, 10808, 10820,
            10832, 10844, 10856, 10868, 10880, 10892, 10904, 10916],
           dtype='int64')}

In [ ]:
t_chile.loc[
    [
        10611,
        10623,
        10635,
        10647,
        10659,
        10671,
        10683,
        10695,
        10707,
        10719,
        10731,
        10743,
        10755,
        10767,
        10779,
        10791,
        10803,
        10815,
        10827,
        10839,
        10851,
        10863,
        10875,
        10887,
        10899,
        10911,
    ]
]

       Temperature  Year Month Country ISO3
10611      8.85700  1991   Apr   Chile  CHL
10623      8.61049  1992   Apr   Chile  CHL
10635      8.37375  1993   Apr   Chile  CHL
10647      8.52128  1994   Apr   Chile  CHL
10659      9.11017  1995   Apr   Chile  CHL
10671      7.99297  1996   Apr   Chile  CHL
10683      9.48273  1997   Apr   Chile  CHL
10695      9.02652  1998   Apr   Chile  CHL
10707      8.12245  1999   Apr   Chile  CHL
10719      8.84131  2000   Apr   Chile  CHL
10731      8.20538  2001   Apr   Chile  CHL
10743      8.17758  2002   Apr   Chile  CHL
10755      8.19428  2003   Apr   Chile  CHL
10767      8.81913  2004   Apr   Chile  CHL
10779      7.95617  2005   Apr   Chile  CHL
10791      8.65331  2006   Apr   Chile  CHL
10803      8.54072  2007   Apr   Chile  CHL
10815      8.12552  2008   Apr   Chile  CHL
10827      9.81651  2009   Apr   Chile  CHL
10839      8.37247  2010   Apr   Chile  CHL
10851      8.64091  2011   Apr   Chile  CHL
10863      8.48071  2012   Apr   Chile  CHL
10875      9.52546  2013   Apr   Chile  CHL
10887      8.30812  2014   Apr   Chile  CHL
10899      9.87860  2015   Apr   Chile  CHL
10911      7.82234  2016   Apr   Chile  CHL

#### Obtener alg√∫n grupo en particular

In [ ]:
t_chile.groupby("Month").get_group("Apr")

       Temperature  Year Month Country ISO3
10611      8.85700  1991   Apr   Chile  CHL
10623      8.61049  1992   Apr   Chile  CHL
10635      8.37375  1993   Apr   Chile  CHL
10647      8.52128  1994   Apr   Chile  CHL
10659      9.11017  1995   Apr   Chile  CHL
10671      7.99297  1996   Apr   Chile  CHL
10683      9.48273  1997   Apr   Chile  CHL
10695      9.02652  1998   Apr   Chile  CHL
10707      8.12245  1999   Apr   Chile  CHL
10719      8.84131  2000   Apr   Chile  CHL
10731      8.20538  2001   Apr   Chile  CHL
10743      8.17758  2002   Apr   Chile  CHL
10755      8.19428  2003   Apr   Chile  CHL
10767      8.81913  2004   Apr   Chile  CHL
10779      7.95617  2005   Apr   Chile  CHL
10791      8.65331  2006   Apr   Chile  CHL
10803      8.54072  2007   Apr   Chile  CHL
10815      8.12552  2008   Apr   Chile  CHL
10827      9.81651  2009   Apr   Chile  CHL
10839      8.37247  2010   Apr   Chile  CHL
10851      8.64091  2011   Apr   Chile  CHL
10863      8.48071  2012   Apr   Chile  CHL
10875      9.52546  2013   Apr   Chile  CHL
10887      8.30812  2014   Apr   Chile  CHL
10899      9.87860  2015   Apr   Chile  CHL
10911      7.82234  2016   Apr   Chile  CHL

### Paso 2: Aplicar

En este paso veremos las distintas opciones que tenemos en el paso **aplicar**: agregar, transformar o filtrar.

![Group By](https://i.ibb.co/G0yHWsC/group-by.png)

#### Agregar

Una de estas opciones son las funciones de agregaci√≥n: operaciones que cuentan o obtienen estad√≠sticos a cerca de cada grupo.

Algunas funciones de agregaci√≥n built-in de pandas son:
<div align='center'>
<img src="./resources/aggregations.png" alt="Agregaciones" width=500px/>
</div>

##### Tama√±o

In [ ]:
t_chile.groupby("Month").size()

Month
Apr    26
Aug    26
Dec    26
Feb    26
Jan    26
Jul    26
Jun    26
Mar    26
May    26
Nov    26
Oct    26
Sep    26
dtype: int64

##### Promedio

**Por  Mes**

In [ ]:
t_chile

       Temperature  Year Month Country ISO3
10608     12.53860  1991   Jan   Chile  CHL
10609     12.29140  1991   Feb   Chile  CHL
10610     11.13730  1991   Mar   Chile  CHL
10611      8.85700  1991   Apr   Chile  CHL
10612      6.70605  1991   May   Chile  CHL
...            ...   ...   ...     ...  ...
10915      5.83910  2016   Aug   Chile  CHL
10916      7.19059  2016   Sep   Chile  CHL
10917      8.81492  2016   Oct   Chile  CHL
10918     10.71450  2016   Nov   Chile  CHL
10919     12.39610  2016   Dec   Chile  CHL

[312 rows x 5 columns]

In [ ]:
t_chile_prom_mes = t_chile.groupby("Month").mean()
t_chile_prom_mes

       Temperature    Year
Month
Apr       8.632918  2003.5
Aug       4.874367  2003.5
Dec      11.862162  2003.5
Feb      12.331531  2003.5
Jan      12.890127  2003.5
Jul       3.990776  2003.5
Jun       4.566924  2003.5
Mar      11.175054  2003.5
May       6.305406  2003.5
Nov      10.031982  2003.5
Oct       8.313173  2003.5
Sep       6.479313  2003.5

In [ ]:
# Arreglo de conveniencia para ordenar los resultados por mes.
MESES = [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec",
]

t_chile_prom_mes = t_chile.groupby("Month").mean()
t_chile_prom_mes = t_chile_prom_mes.loc[MESES]

t_chile_prom_mes

       Temperature    Year
Month
Jan      12.890127  2003.5
Feb      12.331531  2003.5
Mar      11.175054  2003.5
Apr       8.632918  2003.5
May       6.305406  2003.5
Jun       4.566924  2003.5
Jul       3.990776  2003.5
Aug       4.874367  2003.5
Sep       6.479313  2003.5
Oct       8.313173  2003.5
Nov      10.031982  2003.5
Dec      11.862162  2003.5

In [ ]:
px.line(
    t_chile_prom_mes["Temperature"],
    title="Temperatura Promedio en Chile por Mes",
)

In [ ]:
t_chile

       Temperature  Year Month Country ISO3
10608     12.53860  1991   Jan   Chile  CHL
10609     12.29140  1991   Feb   Chile  CHL
10610     11.13730  1991   Mar   Chile  CHL
10611      8.85700  1991   Apr   Chile  CHL
10612      6.70605  1991   May   Chile  CHL
...            ...   ...   ...     ...  ...
10915      5.83910  2016   Aug   Chile  CHL
10916      7.19059  2016   Sep   Chile  CHL
10917      8.81492  2016   Oct   Chile  CHL
10918     10.71450  2016   Nov   Chile  CHL
10919     12.39610  2016   Dec   Chile  CHL

[312 rows x 5 columns]

> Ejercicio: Agrupar por lustros y ver como se mueve la media.

**Por A√±o**

In [ ]:
t_chile_prom_a√±o = t_chile.groupby("Year").mean()
t_chile_prom_a√±o

      Temperature
Year
1991     8.174618
1992     8.132774
1993     8.435058
1994     8.583360
1995     8.296743
1996     8.378638
1997     8.626498
1998     8.903882
1999     8.373395
2000     7.910688
2001     8.227404
2002     8.072337
2003     8.561853
2004     8.775460
2005     8.271038
2006     8.648243
2007     7.908262
2008     8.683983
2009     8.509471
2010     8.187509
2011     8.494979
2012     8.631189
2013     8.723325
2014     8.548038
2015     8.821257
2016     8.936417

In [ ]:
px.line(
    t_chile_prom_a√±o,
    title="Temperatura Promedio en Chile por A√±o",
)


#### Describe 

Por mes:

In [ ]:
t_chile.describe()

       Temperature         Year
count   312.000000   312.000000
mean      8.454478  2003.500000
std       3.126838     7.512048
min       2.529410  1991.000000
25%       5.569280  1997.000000
50%       8.488035  2003.500000
75%      11.543375  2010.000000
max      13.929600  2016.000000

In [ ]:
chile_t_stats = t_chile.groupby("Month").describe()["Temperature"]
chile_t_stats = chile_t_stats.loc[MESES]
chile_t_stats

,count,mean,std,min,25%,50%,75%,max
Month,,,,,,,,
Jan,26.0,12.890127,0.489691,11.93590,12.552500,12.747900,13.157900,13.92960
Feb,26.0,12.331531,0.634695,11.15750,11.855550,12.459100,12.744125,13.63310
Mar,26.0,11.175054,0.583369,10.13310,10.753150,11.198250,11.646675,12.18950
Apr,26.0,8.632918,0.561895,7.82234,8.197055,8.531000,8.853077,9.87860
May,26.0,6.305406,0.658122,4.75968,5.735210,6.363575,6.760283,7.43721
Jun,26.0,4.566924,0.731938,2.61044,4.182020,4.681900,5.105257,5.62819
Jul,26.0,3.990776,0.782743,2.52941,3.643715,3.995465,4.568388,5.82987
Aug,26.0,4.874367,0.694196,3.25353,4.381372,5.060210,5.360117,6.08457
Sep,26.0,6.479313,0.492104,5.11566,6.202398,6.596555,6.762740,7.26955
Oct,26.0,8.313173,0.443089,7.41883,8.022638,8.346980,8.678900,9.11434
Nov,26.0,10.031982,0.487848,8.91301,9.827340,10.085450,10.339450,10.93300
Dec,26.0,11.862162,0.669272,10.20070,11.546575,11.749950,12.355850,13.27430

In [ ]:
px.line(
    chile_t_stats.reset_index(),
    x="Month",
    y="mean",
    error_y="std",
    title="Temperatura por Mes",
)

#### Usar como filtro

Exactamente igual a `temperaturas[temperaturas['Country'] == 'Chile']`

In [ ]:
temperaturas.head(10)

   Temperature  Year Month      Country ISO3
0     -0.03110  1991   Jan  Afghanistan  AFG
1      1.43654  1991   Feb  Afghanistan  AFG
2      6.88685  1991   Mar  Afghanistan  AFG
3     12.93970  1991   Apr  Afghanistan  AFG
4     17.07550  1991   May  Afghanistan  AFG
5     23.07770  1991   Jun  Afghanistan  AFG
6     25.57100  1991   Jul  Afghanistan  AFG
7     23.96730  1991   Aug  Afghanistan  AFG
8     19.38000  1991   Sep  Afghanistan  AFG
9     12.87790  1991   Oct  Afghanistan  AFG

In [ ]:
temperaturas["Country"] == "Chile"

0        False
1        False
2        False
3        False
4        False
         ...
59899    False
59900    False
59901    False
59902    False
59903    False
Name: Country, Length: 59904, dtype: bool

In [ ]:
temperaturas[temperaturas["Country"] == "Chile"].head(3)

       Temperature  Year Month Country ISO3
10608      12.5386  1991   Jan   Chile  CHL
10609      12.2914  1991   Feb   Chile  CHL
10610      11.1373  1991   Mar   Chile  CHL

In [ ]:
temperaturas.groupby(["Country"]).get_group("Chile")

       Temperature  Year Month Country ISO3
10608     12.53860  1991   Jan   Chile  CHL
10609     12.29140  1991   Feb   Chile  CHL
10610     11.13730  1991   Mar   Chile  CHL
10611      8.85700  1991   Apr   Chile  CHL
10612      6.70605  1991   May   Chile  CHL
...            ...   ...   ...     ...  ...
10915      5.83910  2016   Aug   Chile  CHL
10916      7.19059  2016   Sep   Chile  CHL
10917      8.81492  2016   Oct   Chile  CHL
10918     10.71450  2016   Nov   Chile  CHL
10919     12.39610  2016   Dec   Chile  CHL

[312 rows x 5 columns]

#### Multi-indice

Tambi√©n podemos ejecutar la agregaci√≥n sobre varias columnas. Esto generar√° un DataFrame multi-indice.

In [ ]:
stats_general = temperaturas.groupby(["Country", "Year"]).describe()

In [ ]:
stats_general

                 Temperature                                            \
                       count       mean       std       min        25%
Country     Year
Afghanistan 1991        12.0  12.894488  8.980163  -0.03110   6.224065
            1992        12.0  12.544548  8.386016   0.74637   5.404147
            1993        12.0  12.977138  8.719243  -0.08350   5.673917
            1994        12.0  13.080018  8.875672   1.11415   7.360107
            1995        12.0  13.040895  9.092189   0.92358   5.517030
...                      ...        ...       ...       ...        ...
Venezuela   2012        12.0  25.764883  0.374583  25.21710  25.501125
            2013        12.0  25.922492  0.553798  25.29310  25.465375
            2014        12.0  26.028775  0.477228  25.39520  25.724875
            2015        12.0  26.438175  0.430423  25.63690  26.114800
            2016        12.0  26.478200  0.474389  25.84420  26.120150


                       50%        75%      max
Country     Year
Afghanistan 1991  12.90880  20.304425  25.5710
            1992  12.19535  19.109925  24.7068
            1993  12.70540  20.447725  24.6320
            1994  12.24925  19.975575  25.0045
            1995  12.90710  20.140400  25.7798
...                    ...        ...      ...
Venezuela   2012  25.72885  26.049450  26.4330
            2013  25.93485  26.091300  27.1409
            2014  25.87900  26.356625  26.9757
            2015  26.50315  26.729575  27.0908
            2016  26.41585  26.755900  27.3357

[4992 rows x 8 columns]

In [ ]:
temperature_stats_general = stats_general["Temperature"]

In [ ]:
px.line(
    temperature_stats_general.reset_index(),
    x="Year",
    y="mean",
    color="Country",
    height=800,
)

### `agg`

`agg` permite agregar datos por grupo usando una o m√°s operaciones:

In [ ]:
prom_t_a√±o_global = temperaturas.groupby(["Year"]).agg(
    {
        "Temperature": ["mean", "std", "min"]
    }
)
prom_t_a√±o_global

     Temperature
            mean        std     min
Year
1991   18.716174  10.292725 -26.940
1992   18.651461  10.173134 -29.905
1993   18.632208  10.336513 -30.859
1994   18.944268  10.161263 -30.140
1995   18.937594  10.209406 -30.282
1996   18.630084  10.496066 -27.103
1997   18.922807  10.228958 -28.020
1998   19.273504  10.353435 -28.307
1999   19.085536  10.057636 -27.324
2000   19.083361  10.013080 -28.287
2001   19.177183  10.245669 -29.376
2002   19.296718  10.131432 -29.664
2003   19.208448  10.359996 -28.081
2004   19.167283  10.150215 -28.010
2005   19.185109  10.356420 -25.095
2006   19.228243  10.247942 -29.643
2007   19.311888   9.994144 -27.231
2008   19.172404  10.048448 -29.022
2009   19.327523  10.205430 -29.551
2010   19.365938  10.526774 -27.970
2011   19.184153  10.207967 -26.722
2012   19.197032  10.445062 -27.044
2013   19.259569  10.190078 -27.253
2014   19.464966   9.928222 -28.582
2015   19.581111  10.024540 -27.868
2016   19.642927  10.119874 -24.596

In [ ]:
px.line(prom_t_a√±o_global.droplevel(0, axis=1).reset_index(), x="Year", y="mean")